<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.AliPayDao">
	<update id="updateStateAndPayTime">
	<!-- 这是已支付状态记不清了 -->
		update ordera set state=2,payment_time=now(),updated=now() where orderId=#{orderId} 
	</update>
	
	<select id="queryYorderIdAndActualMonry" resultType="java.lang.Double">
	  select actual_pay from ordera where order_id=#{orderId}
	</select>
	
	<select id="queryYitemNames" resultType="java.lang.String">
	   select item_name from order_item where order_id=#{orderId}
	</select>
	
	<select id="queryYorderMessage" resultType="java.lang.String">
	 select buyer_message from ordera where order_id=#{orderId}
	</select>
	
	
	<select id="querySatetIsTwo" resultType="int">
	 select state from ordera where order_id=#{orderId}
	</select>
</mapper>       