<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.AliPayDao">
	<!-- 这是已支付状态记不清了 -->
	<update id="updateStateAndPayTime">
		update ordera set state=2,payment_time=now(),updated=now() where order_id=#{orderId} 
	</update>
	
	<select id="queryYorderIdAndActualMonry" resultType="java.lang.Double">
	  select actual_pay from ordera where order_id=#{orderId}
	</select>
	
	<select id="queryYitemNames" resultType="java.lang.String">
	   select item_name from order_item where order_id=#{orderId}
	</select>
	
	<select id="queryYorderMessage" resultType="java.lang.String">
	 select buyer_message from ordera where order_id=#{orderId}
	</select>
	
	
	<select id="querySatetIsTwo" resultType="int">
	 select state from ordera where order_id=#{orderId}
	</select>
	
	<select id="queryOrder" resultType="com.yayiabc.http.mvc.pojo.jpa.Ordera">
	 select * from ordera where order_id=#{orderId}
	</select>
	<update id="updateQb">
	 update `user` set qb_balance=(qb_balance-${qbDed})
	 where user_id=#{userId}
	</update>
	
	<!-- //addSales增加销量 -->
	 <update id="addSales">
	  update item_info set sales=(sales+${num})  where item_id=#{itemId}
	 </update>
	 
	 <select id="queryUserId" resultType="com.yayiabc.http.mvc.pojo.jpa.Charge">
	   SELECT * from charge where charge_id=#{out_trade_no}
	 </select>
	 <update id="updateState">
	 update  charge set state=2 where charge_id=#{out_trade_no}
	 </update>
	 
	 <update id="updatePayType">
	  update ordera set pay_type =#{type} where order_id=#{orderId}
	 </update>
	 
	 <update id="addSalesList" parameterType="java.util.List">
	  <foreach collection="list" item="kkk" index="index" open="" close="" 
			separator=";">
			update item_info
			<set>
			sales = ${kkk.num}+sales
			</set>
			where item_id=#{kkk.itemId}
		</foreach>
	 </update>
</mapper>       