<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yayiabc.http.mvc.dao.AppBannerDao">

	<!--添加appBanner图-->
	<insert id="add">
		insert into app_banner(app_banner_name,app_banner_address,app_banner_type)
		VALUES (#{appBannerName},#{appBannerAddress},#{appBannerType})
	</insert>

	<!--删除appBanner图-->
	<delete id="delete">
		delete from app_banner where app_banner_id=#{appBannerId}
	</delete>

	<!--修改appBanner图-->
	<update id="update">
		update app_banner set app_banner_name=#{appBannerName},
		app_banner_address=#{appBannerAddress},app_banner_type=#{app_banner_type}
		where app_banner_id=#{appBannerId}
	</update>

	<!--查询appBanner图-->
	<select id="query" resultType="AppBanner">
		select * from app_banner
	</select>

</mapper>