<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.CartDao">
	<resultMap type="Cart" id="cartRM">
		<id column="cart_id" property="cartId" />
		<result column="user_id" property="userId" />
		<result column="item_id" property="itemId" />
		<result column="pic" property="pic" />
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="num" property="num" />
		<result column="item_SKU" property="itemSKU" />
		<result column="item_property_name" property="itemPropertyName" />
		<result column="item_property_info" property="itemPropertyInfo" />
		<result column="item_property_name_two" property="itemPropertyNameTwo" />
		<result column="item_property_two_value" property="itemPropertyTwoValue" />
		<result column="item_property_name_three" property="itemPropertyNameThree" />
		<result column="item_property_three_value" property="itemPropertyThreeValue" />
		<result column="item_property_four_name" property="itemPropertyFourName" />
		<result column="item_property_four_value" property="itemPropertyFourValue" />
		<result column="item_property_five_name" property="itemPropertyFiveName" />
		<result column="item_property_five_value" property="itemPropertyFiveValue" />
		<result column="item_property_six_name" property="itemPropertySixName" />
		<result column="item_property_six_value" property="itemPropertySixValue" />
	</resultMap>

	<select id="list" resultMap="cartRM">
		SELECT
		item_id,cart_id,item_SKU,
		item_property_name,item_property_info,
		item_property_name_two,item_property_two_value,
		item_property_name_three,item_property_three_value,
		item_property_four_name,item_property_four_value,
		item_property_five_name,item_property_five_value,
		item_property_six_name,item_property_six_value,
		pic,name,price,num
		FROM cart
		WHERE user_id=#{userId};
	</select>

	<update id="updateOne">
		UPDATE cart SET num=num+#{num} WHERE
		item_SKU=#{itemSKU} AND user_id=#{userId};
	</update>

	<update id="updateNum">
		UPDATE cart SET num=#{num} WHERE item_SKU=#{itemSKU}
		AND user_id=#{userId};
	</update>

	<delete id="delete">
		DELETE FROM cart WHERE user_id=#{userId} AND
		item_SKU=#{itemSKU};
	</delete>

	<insert id="star" parameterType="ItemStar">
		INSERT INTO
		item_star(user_id,item_id,created,updated)
		VALUES(#{userId},#{itemId},NOW(),NOW());
	</insert>

	<insert id="add" parameterType="Cart">
		INSERT INTO cart(
		user_id,item_id,NAME,pic,num,price,item_SKU,
		item_property_name,item_property_info,
		item_property_name_two,item_property_two_value,
		item_property_name_three,item_property_three_value,
		item_property_four_name,item_property_four_value,
		item_property_five_name,item_property_five_value,
		item_property_six_name,item_property_six_value,
		created,updated)
		VALUES(#{userId},#{itemId},#{name},#{pic},#{num},#{price},#{itemSKU},
		#{itemPropertyName},#{itemPropertyInfo},
		#{itemPropertyNameTwo},#{itemPropertyTwoValue},
		#{itemPropertyNameThree},#{itemPropertyThreeValue},
		#{itemPropertyFourName},#{itemPropertyFourValue},
		#{itemPropertyFiveName},#{itemPropertyFiveValue},
		#{itemPropertySixName},#{itemPropertySixValue},
		NOW(),NOW());
	</insert>

	<select id="queryBySKU" resultMap="cartRM">
		SELECT
		id.item_id, 
		id.item_pica AS pic,
		ii.item_name AS NAME,
		iv.item_sKU AS item_SKU,
		iv.item_property_name,iv.item_property_info,
		iv.item_property_name_two,iv.item_property_two_value,
		iv.item_property_name_three,iv.item_property_three_value,
		iv.item_property_four_name,iv.item_property_four_value,
		iv.item_property_five_name,iv.item_property_five_value,
		iv.item_property_six_name,iv.item_property_six_value,
		iv.item_sku_price AS price
		FROM item_value iv
		LEFT JOIN item_info ii
		ON iv.item_id=ii.item_id
		LEFT JOIN item_detail id
		ON iv.item_id=id.item_id
		WHERE iv.item_sKU=#{itemSKU}
		GROUP BY iv.item_sKU
	</select>

	<select id="getCountItemSKU" resultType="int">
		SELECT COUNT(*) FROM
		cart WHERE item_SKU=#{itemSKU};
	</select>
</mapper>