<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.CartDao">
	<resultMap type="Cart" id="cartRM">
		<id column="cart_id" property="cartId" />
		<result column="user_id" property="userId" />
		<result column="item_id" property="itemId" />
		<result column="pic" property="pic" />
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="num" property="num" />
		<result column="item_SKU" property="itemSKU" />
		<result column="item_property_name" property="itemPropertyName" />
		<result column="item_property_info" property="itemPropertyInfo" />
		<result column="item_property_name_two" property="itemPropertyNameTwo" />
		<result column="item_property_two_value" property="itemPropertyTwoValue" />
		<result column="item_property_name_three" property="itemPropertyNameThree" />
		<result column="item_property_three_value" property="itemPropertyThreeValue" />
		<result column="item_property_four_name" property="itemPropertyFourName" />
		<result column="item_property_four_value" property="itemPropertyFourValue" />
		<result column="item_property_five_name" property="itemPropertyFiveName" />
		<result column="item_property_five_value" property="itemPropertyFiveValue" />
		<result column="item_property_six_name" property="itemPropertySixName" />
		<result column="item_property_six_value" property="itemPropertySixValue" />
		<result column="item_sort" property="itemSort"/>
		<result column="item_brand_name" property="itemBrandName"/>
	</resultMap>

	<select id="list" resultMap="cartRM">
		SELECT
		c.cart_id,
		id.item_id, 
		ii.item_name AS name,
		ii.item_sort,
		ii.state,
		ib.item_brand_name,
		id.item_pica AS pic,
		c.num,
		iv.stock_num AS goodLeaveNum,
		iv.item_sku_price AS price,
		iv.item_sKU AS item_SKU,
		iv.item_property_name,iv.item_property_info,
		iv.item_property_name_two,iv.item_property_two_value,
		iv.item_property_name_three,iv.item_property_three_value,
		iv.item_property_four_name,iv.item_property_four_value,
		iv.item_property_five_name,iv.item_property_five_value,
		iv.item_property_six_name,iv.item_property_six_value
		FROM cart c
		LEFT JOIN item_value iv ON c.item_SKU=iv.item_sKU
		LEFT JOIN item_info ii ON iv.item_id=ii.item_id
		LEFT JOIN item_detail id ON iv.item_id=id.item_id
		LEFT JOIN item_brand ib ON ii.item_brand_id=ib.item_brand_id
		WHERE c.user_id=#{userId}
		GROUP BY c.cart_id
		ORDER BY c.created DESC
	</select>

	<update id="updateOne">
		UPDATE cart SET num=num+#{num} WHERE
		item_SKU=#{itemSKU} AND user_id=#{userId};
	</update>

	<update id="updateNum">
		UPDATE cart SET num=#{num} 
		WHERE item_SKU=#{itemSKU} AND user_id=#{userId};
	</update>

	<select id="clear">
		DELETE cart FROM cart 
    	LEFT JOIN item_value ON cart.item_SKU=item_value.item_sKU
   	 	LEFT JOIN item_info  ON item_value.item_id=item_info.item_id
    	WHERE item_info.state=0 AND cart.user_id=#{userId}
	</select>

	<delete id="delete">
		DELETE FROM cart 
		WHERE user_id=#{userId} AND item_SKU=#{itemSKU};
	</delete>

	<insert id="star" parameterType="ItemStar">
		INSERT INTO
		item_star(user_id,item_id,created,updated)
		VALUES(#{userId},#{itemId},NOW(),NOW());
	</insert>

	<insert id="add">
		INSERT INTO cart(cart_id,user_id,num,item_SKU,created,updated)
		VALUES(null,#{userId},#{num},#{itemSKU},NOW(),NOW())
	</insert>

	<select id="getCountItemSKU" resultType="int">
		SELECT COUNT(0) FROM
		cart WHERE item_SKU=#{itemSKU} and user_id=#{userId};
	</select>
</mapper>