<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.CommentDao">
	<insert id="addComment">
		insert into top_comment(user_id,content,becommented_id,`type`)
		VALUES (#{userId},#{comment.commentContent},#{beCommentedId},#{num})
	</insert>

	<insert id="addSubComment">
		insert into lower_comment(user_id,content,top_id)
		VALUES (#{userId},#{comment.commentContent},#{parentId})
	</insert>

	<select id="getUserByPostId" resultType="User">
		SELECT b.user_id,b.true_name
		FROM cottoms_post a
		LEFT JOIN `user` b ON a.user_id=b.user_id
		WHERE a.post_id=#{beCommentedId}
	</select>

	<select id="getUserByTopCommentId" resultType="User">
		SELECT b.user_id,b.true_name
		FROM top_comment a
		LEFT JOIN `user` b ON a.user_id=b.user_id
		WHERE a.id=#{beCommentedId}
	</select>

	<select id="getCommentTotalNum" resultType="int">
		select count(*) from top_comment where type=#{numberType} and becommented_id=#{beCommentedId}
	</select>

	<resultMap id="comment" type="Comment" autoMapping="true">
		<id property="commentId" column="comment_id"/>
		<collection property="subCommentList" ofType="SubComment">
			<id property="subCommentId" column="sub_id"/>
			<result property="userId" column="sub_user_id"/>
			<result property="userName" column="sub_user_name"/>
			<result property="userPic" column="sub_user_pic"/>
			<result property="commentContent" column="sub_content"/>
			<result property="commentTime" column="sub_created"/>
		</collection>
	</resultMap>


	<select id="getCommentList" resultMap="comment">
		SELECT * FROM
		(SELECT a.id AS comment_id,a.content AS comment_content,a.created AS comment_time,a.reply_num AS reply_number,b.user_id,b.true_name AS user_name,b.user_pic,a.zan_num AS zan
		FROM top_comment a
		LEFT JOIN `user` b ON a.user_id=b.user_id
		WHERE a.becommented_id=#{beCommentedId} AND a.type=#{numberType} order by
		<choose>
			<when test="order==1">a.zan_num,a.created DESC </when>
			<when test="order==2">a.created,a.zan_num DESC </when>
			<otherwise>a.reply_num DESC </otherwise>
		</choose>
		limit #{page.currentNumber},#{page.numberPerPage}
		) c
		LEFT JOIN
		(
		SELECT d.id AS sub_id,d.content AS sub_content,d.created AS sub_created,e.user_id AS sub_user_id,e.true_name AS sub_user_name,e.user_pic AS sub_user_pic,d.top_id
		FROM lower_comment d
		LEFT JOIN `user` e ON d.user_id=e.user_id
		) f ON c.comment_id=f.top_id
	</select>

	<delete id="deleteYayiCom">
		delete from dentist_comment where moment_id=#{parentId}
	</delete>

	<delete id="deleteSubComment">
		delete from lower_comment where id=#{presentId}
	</delete>

	<delete id="deleteComment">
		delete from top_comment where id=#{parentId}
	</delete>

	<delete id="deleteWithSubComment">
		delete from lower_comment where top_id=#{parentId}
	</delete>

	<select id="getCommentNum" resultType="int">
		select count(*) FROM top_comment where becommented_id=#{becommentedId} and type=#{type}
	</select>

	<update id="updateCommentReplyNum">
		update top_comment set reply_num=reply_num+1 where id=#{parentId}
	</update>

	<update id="addCommentNumberToVideo">
		update vid_manage set comment_num=comment_num+1 where vi_id=#{beCommentedId}
	</update>

	<update id="addTopCommentZanNum">
		update top_comment set zan_num=zan_num+1 where id=#{parentId}
	</update>

	<update id="addSubCommentZanNum">
		update addSubCommentZanNum set zan_num=zan_num+1 where id=#{presentId}
	</update>

	<update id="delTopCommentZanNum">
		update top_comment set zan_num=zan_num-1 where id=#{parentId}
	</update>

	<update id="delSubCommentZanNum">
		update addSubCommentZanNum set zan_num=zan_num-1 where id=#{presentId}
	</update>

	<update id="addCommentNumberToCottom">
		update cottoms_post set comment_num=comment_num+1 where post_id=#{beCommentedId}
	</update>

	<update id="delCommentNumberToCottom">
		update cottoms_post set comment_num=comment_num-1 where post_id=#{beCommentedId}
	</update>


	<update id="delCommentNumberToVideo">
		update vid_manage set comment_num=comment_num-1 where vi_id=#{beCommentedId}
	</update>

	<update id="delCommentReplyNum">
		update top_comment set reply_num=reply_num-1 where id=#{parentId}
	</update>


</mapper>       