<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.CottomsPostDao">
	<resultMap type="CottomsPost" id="IBuy">
		<result property="headline" column="headline" />
		<result property="classify" column="classify" />
		<result property="freeContent" column="free_content" />
		<result property="chargeContent" column="charge_content" />
		<result property="writer" column="writer" />
		<result property="chargeNumber" column="charge_number" />
		<result property="cover" column="cover" />
		<result property="userId" column="cuserId" />
		<result property="postId" column="cpostid" />
		<result property="postTime" column="post_time" />
		<result property="readNumber" column="read_number" />
		<result property="commentNum" column="comment_num" />
		<result property="zanNum" column="zan_num" />
		<result property="postStater" column="post_stater" />
		<result property="isPraise" column="zan" />
		<result property="isCollect" column="collect" />
		<association property="user" javaType="User">
			<result property="userPic" column="user_pic" />
		</association>
		<association property="userToPost" javaType="UserToPost">
			<result property="postId" column="upostid" />
		</association>
		<association property="refuseCauser" javaType="RefuseCauser">
			<result property="refuseCauser" column="refuse_causer" />
		</association>
	</resultMap>
	<select id="gettrueName" resultType="java.lang.String">
		select true_name,phone from
		user where user_id=#{userId}
	</select>
	<!--每天发病例次数 -->
	<select id="dayGain" resultType="java.lang.Integer">
		select day from user where
		user_id=#{userId}
	</select>

	<!--每周发病例次数 -->
	<select id="weekGain" resultType="java.lang.Integer">
		select week from user where
		user_id=#{userId}
	</select>

	<!--发布病例每天次数加1 -->
	<update id="addDayNumber">
		update user set day=day+1 where user_id=#{userId}
	</update>

	<!--发布病例每周次数加1 -->
	<update id="addWeekNumber">
		update user set week=week+1 where user_id=#{userId}
	</update>

	<!--获取钱币 -->
	<update id="addQBWith">
		update user set qb_notwith=qb_notwith+1 where
		user_id=#{userId}
	</update>

	<!--发布病例 -->
	<insert id="addPost" useGeneratedKeys="true" keyProperty="postId">
		insert
		into cottoms_post
		(headline,classify,free_content,charge_content,writer,user_id,charge_number,post_stater,cover)
		values(#{headline},#{classify},#{freeContent},#{chargeContent},#{writer},#{userId},#{chargeNumber},#{postStater},#{cover});
	</insert>

	<!-- 更改病历 -->
	<update id="setPost">
		update cottoms_post
		set
		headline=#{headline},classify=#{classify},free_content=#{freeContent},charge_content=#{chargeContent},writer=#{writer},
		user_id=#{userId},charge_number=#{chargeNumber},post_stater=#{postStater},cover=#{cover}
		where post_id=#{postId}
	</update>

	<!--记录审核不通过理由 -->
	<insert id="refuseCauser">
		insert into refusecauser
		(post_id,refuse_causer)
		values (#{postId},#{refuseCauser})
	</insert>

	<!--是否已记录 -->
	<select id="exisRefuseCauser" resultType="java.lang.Integer">
		select count(post_id)
		from refusecauser where post_id=#{postId}
	</select>

	<!--显示病例 -->

	<select id="queryPost" resultMap="IBuy">
		SELECT
		cp.post_id
		cpostid,cp.headline,cp.classify,cp.writer,cp.cover,cp.post_time,cp.charge_number,user.user_pic,cp.post_stater,cp.read_number,
		cp.zan_num,cp.comment_num,cp.post_stater,up.post_id upostid,IF(co.id
		IS NULL,0,1) as collect,IF(zan.id IS NULL,0,1) zan
		FROM
		cottoms_post cp
		LEFT JOIN `user`
		ON
		cp.user_id=user.user_id
		LEFT JOIN user_to_post up
		ON
		up.post_id=cp.post_id AND up.user_id=#{userId}
		LEFT JOIN collect co
		ON
		cp.post_id=co.post_id AND co.user_id=13 AND
		co.type='病例'
		LEFT JOIN zan
		ON cp.post_id=zan.type_id AND co.user_id=13
		AND zan.type='病例'
		<where>
			<if test="type==2">
				cp.user_id=#{userId} and
			</if>
			<if test="classify!=null and classify!=''">
				cp.classify = #{classify} and
			</if>
			<if test="keyWord!=null and keyWord!=''">
				cp.headline like '%${keyWord}%' and
			</if>
			<if test="postStater==0 or postStater==1 or postStater==2 or postStater==3 or postStater==4">
				cp.post_stater=#{postStater}
			</if>
			<if test="postStater==5">
				(cp.post_stater=0 or cp.post_stater=1 or
				cp.post_stater=4)
			</if>

		</where>
		<if test="order==0">
			order by cp.post_time desc
		</if>
		<if test="order==1">
			ORDER BY cp.comment_num DESC
		</if>
		<if test="order==2">
			order by cp.zan_num desc
		</if>
		limit
		#{page.currentNumber},#{page.numberPerPage}

	</select>

	<!--根据点赞分类排序 -->
	<select id="queryClassifyPost" resultType="CottomsPost">
		select * from cottoms_post where
		post_stater=#{postStater} and
		classify=#{classify} and
		post_id in
		<foreach collection="list" item="postId" index="index" open="("
			separator="," close=")">
			#{postId}
		</foreach>
	</select>

	<!--查看用户的病例 -->
	<select id="queryByIdPost" resultType="java.lang.Integer">
		select post_id from
		cottoms_post where user_id=#{userId}
	</select>

	<!--删除列子 -->
	<update id="deletePost">
		update cottoms_post set post_stater=3 where
		post_id=#{postId}
	</update>

	<select id="getTotalNumber" resultType="int">
		select count(0) from
		cottoms_post
		<where>
			<if test="classify!=null and classify!=''">
				classify=#{classify}
			</if>
			<if test="keyWord!=null and keyWord!=''">
				and headline like '%${keyWord}%'
			</if>
			<if test="postStater!=null and postStater!=''">
				and post_stater=#{postStater}
			</if>
		</where>
	</select>
	<select id="getTotalCommentNumber" resultType="int">
		select count(0)
		from cottoms_post
	</select>

	<!-- 查看用户付费病例 -->
	<select id="queryFees" resultType="java.lang.String">
		select post_id from
		user_to_post where user_id=#{userId}
	</select>

	<!--查看病例详情 -->
	<resultMap type="CottomsPost" id="refuseCauser">
		<result property="headline" column="headline" />
		<result property="classify" column="classify" />
		<result property="freeContent" column="free_content" />
		<result property="chargeContent" column="charge_content" />
		<result property="writer" column="writer" />
		<result property="chargeNumber" column="charge_number" />
		<result property="postStater" column="post_stater" />
		<result property="cover" column="cover" />
		<result property="userId" column="user_id" />
		<result property="postId" column="post_id" />
		<result property="postTime" column="post_time" />
		<result property="readNumber" column="read_number" />
		<result property="commentNum" column="comment_num" />
		<result property="zanNum" column="zan_num" />
		<result property="isPraise" column="zan" />
		<result property="isCollect" column="collect" />
		<association property="refuseCauser" javaType="RefuseCauser">
			<result property="refuseCauser" column="refuse_causer" />
		</association>
	</resultMap>
	<select id="cottomsDetail" resultMap="IBuy">
		SELECT
		re.*,cp.post_id
		cpostid,cp.headline,cp.classify,cp.writer,cp.cover,cp.post_time,cp.charge_number,
		cp.user_id
		cuserId,cp.free_content,cp.charge_content,user.user_pic,cp.post_stater,cp.read_number,
		cp.zan_num,cp.comment_num,cp.post_stater,up.post_id upostid,IF(e.id
		IS
		NULL,0,1) AS collect,IF(f.id IS NULL,0,1) zan
		FROM
		(SELECT * FROM
		cottoms_post WHERE post_id=#{postId}) cp
		LEFT JOIN `user`
		ON
		cp.user_id=user.user_id
		LEFT JOIN refusecauser re
		ON
		cp.post_id=re.post_id
		LEFT JOIN user_to_post up
		ON up.post_id=cp.post_id
		AND up.user_id=#{userId}
		LEFT JOIN collect e ON cp.post_id=e.post_id AND
		e.user_id=#{userId} AND e.type="病例"
		LEFT JOIN zan f ON f.type_id=cp.post_id
		AND f.type="病例" AND f.user_id=#{userId}


	</select>

	<select id="postLike" resultType="java.lang.Integer">
		select post_favour from
		cottoms_post where post_id=#{postId}
	</select>
	<!--用户购买病例表 -->
	<insert id="insertUserToPost">
		insert user_to_post (user_id,post_id) values
		(#{userId},#{postId})
	</insert>

	<!--增加阅读数 1 -->
	<update id="upadteReadNum">
		update cottoms_post set read_number=read_number+1
		where post_id=#{postId}
	</update>

	<!-- 发布者获取乾币 -->
	<update id="addQB">
		update user set qb_notwith=qb_notwith+#{chargeNumber}
		where user_id=#{userId}
	</update>
	<!-- <select id="commentsLike" resultType="java.lang.Integer"> select comment_favour 
		from cottoms_comment where comment_id=#{commentId} </select> <update id="commentsLikeAdd"> 
		update cottoms_comment set comment_favour=#{commentFavour} where comment_id=#{commentId} 
		</update> -->

	<!-- <select id="commentNumber" resultType="java.lang.Integer"> select count(0) 
		from cottoms_comment where post_id=#{postId} </select> -->
	<select id="see" resultType="com.yayiabc.http.mvc.pojo.jpa.See">
		SELECT
		true_name,phone,qb_rget,qb_rout,qb_time,remark
		FROM qb_record JOIN
		USER
		ON qb_record.user_id=user.user_id
		AND qb_time&gt;='2017-10-25 00:00:00'
		AND qb_time&lt;='2017-10-29 24:00:00'
		AND remark LIKE '%充值%'
	</select>

	<!-- 收藏病例 -->
	<insert id="collect">
		insert into collect (user_id,post_id,type,category)
		values(#{userId},#{postId},#{type},#{category})
	</insert>

	<!--查询收藏postId -->
	<select id="queryMyCollect" resultType="java.lang.Integer">
		select post_id from
		collect
		<where>
			user_id=#{userId} AND type=#{type}
			<if test="category!=null">
				AND category=#{category}
			</if>
		</where>
	</select>

	<!--我的收藏 -->
	<select id="myCollect" resultMap="IBuy">
		select user.user_pic,cottoms_post.* from cottoms_post
		inner join
		collect a on cottoms_post.post_id=a.post_id and a.type=#{type}
		left
		join
		user on
		a.user_id=user.user_id
		<where>
			a.user_id=#{userId}
			<if test="category!=null">category=#{category}</if>
		</where>
		limit
		#{page.currentNumber},#{page.numberPerPage}
	</select>

	<!--收藏是否存在 -->
	<select id="existCollect" resultType="java.lang.Integer">
		select count(post_id) from
		collect where user_id=#{userId} and post_id=#{postId} and type=#{type}
	</select>

	<!--点赞是否存在 -->
	<select id="exisPraise" resultType="java.lang.Integer">
		select count(type_id) from
		zan where user_id=#{userId} and type_id=#{postId} and type=#{type}
	</select>

	<!--病例是否购买 -->
	<select id="existBuyPostId" resultType="java.lang.Integer">
		select count(post_id)
		from
		user_to_post where user_id=#{userId} and post_id=#{postId}
	</select>

	<!--查询购买postId -->
	<select id="queryMyBuyPostId" resultType="java.lang.Integer">
		select post_id from
		user_to_post where user_id=#{userId}
	</select>

	<!--我的购买病例 -->

	<select id="myBuy" resultMap="IBuy">
		select
		cottoms_post.headline,cottoms_post.classify,cottoms_post.post_time,cottoms_post.free_content,cottoms_post.charge_content,
		cottoms_post.writer,cottoms_post.cover,cottoms_post.user_id
		cuserid,cottoms_post.charge_number,cottoms_post.read_number,
		cottoms_post.post_id
		cpostid,user.user_pic,cottoms_post.zan_num,cottoms_post.comment_num
		from cottoms_post right join user on
		cottoms_post.user_id=user.user_id
		<where>
			cottoms_post.post_id in
			<foreach collection="list" item="postId" index="index" open="("
				separator="," close=")">
				#{postId}
			</foreach>
		</where>
		limit #{page.currentNumber},#{page.numberPerPage}
	</select>

	<!--我是注释内容 -->

	<!--查询钱币余额 -->
	<select id="queryqb" resultType="java.lang.Integer">
		select
		(a_qb+qb_notwith+c_qb+qb_balance) qb_balance from user
		where
		user_id=#{userId}
	</select>

	<select id="getUserIdByPostId" resultType="string">
		select user_id from
		cottoms_post where post_id=#{beCommentedId}
	</select>

	<update id="addCottomsZanNum">
		update cottoms_post set zan_num=zan_num+1 where
		post_id=#{typeId}
	</update>

	<update id="delCottomsZanNum">
		update cottoms_post set zan_num=zan_num-1 where
		post_id=#{typeId}
	</update>
	<update id="updateStater">
		update cottoms_post set post_stater=#{postStater}
		<where>
			post_id=#{postId}
		</where>
	</update>

	<delete id="disCollect">
		delete from collect where user_id=#{userId} AND
		post_id=#{postId} AND type=#{type}
	</delete>
</mapper>