<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.CottomsPostDao">

	<select id="gettrueName" resultType="java.lang.String">
		select true_name,phone from
		user where user_id=#{userId}
	</select>

	<!--添加病例 -->
	<insert id="addPost" useGeneratedKeys="true" keyProperty="postId">
		insert
		into cottoms_post
		(headline,classify,free_content,charge_content,writer,user_id,charge_number,post_stater,cover)
		values(#{headline},#{classify},#{freeContent},#{chargeContent},#{writer},#{userId},#{chargeNumber},#{postStater},#{cover});
	</insert>

	<!-- 更改病历 -->
	<update id="setPost">
		update cottoms_post
		set
		headline=#{headline},classify=#{classify},free_content=#{freeContent},charge_content=#{chargeContent},writer=#{writer},
		user_id=#{userId},charge_number=#{chargeNumber},post_stater=#{postStater},cover=#{cover}
		where post_id=#{postId}
	</update>

	<!--显示病例 -->
	<resultMap type="CottomsPost" id="map">
		<result property="postString" column="post_stater" />
		<result property="headline" column="headline" />
		<result property="classify" column="classify" />
		<result property="freeContent" column="free_content" />
		<result property="chargeContent" column="charge_content" />
		<result property="writer" column="writer" />
		<result property="chargeNumber" column="charge_number" />
		<result property="cover" column="cover" />
		<result property="userId" column="user_id" />
		<result property="postId" column="post_id" />
		<result property="postTime" column="post_time" />
		<association property="user" javaType="User">
			<result property="userPic" column="user_pic" />
		</association>
	</resultMap>
	<select id="queryPost" resultMap="map">
		select
		cp.post_id,cp.headline,cp.classify,cp.writer,cp.cover,cp.post_time,charge_number,user.user_pic
		from
		cottoms_post cp
		left join user
		on cp.user_id=user.user_id
		<where>
			<if test="type==2">
				cp.user_id=#{suerId} and
			</if>
			<if test="userId!=null and userId!=''">
				cp.user_id=#{userId} and
			</if>
			<if test="classify!=null and classify!=''">
				classify = #{classify} and
			</if>
			<if test="keyWord!=null and keyWord!=''">
				headline like '%${keyWord}%' and
			</if>
			post_stater=#{postStater}
			and
			post_id in
			<foreach collection="list" item="postId" index="index" open="("
				separator="," close=")">
				#{postId}
			</foreach>
		</where>
		limit ${page.currentNumber},${page.numberPerPage}
		<!-- <foreach collection="postId" item="post_id" open="AND (" close=")" 
			separator="OR"> postId=#{post_id} </foreach> -->
	</select>

	<!--根据点赞分类排序 -->
	<select id="queryClassifyPost" resultType="CottomsPost">
		select * from cottoms_post where
		post_stater=#{postStater} and
		classify=#{classify} and
		post_id in
		<foreach collection="list" item="postId" index="index" open="("
			separator="," close=")">
			#{postId}
		</foreach>
		limit
	</select>

	<!--查看用户的病例 -->
	<select id="queryByIdPost" resultType="java.lang.Integer">
		select post_id from
		cottoms_post where user_id=#{userId}
	</select>

	<!--删除列子 -->
	<update id="deletePost">
		update cottoms_post set post_stater=3 where
		post_id=#{postId}
	</update>

	<select id="getTotalNumber" resultType="int">
		select count(0) from
		cottoms_post
		<where>
			<if test="classify!=null and classify!=''">
				classify=#{classify}
			</if>
			<if test="keyWord!=null and keyWord!=''">
				and headline like '%${keyWord}%'
			</if>
		</where>
	</select>
	<select id="getTotalCommentNumber" resultType="int">
		select count(0)
		from cottoms_post
	</select>

	<!-- 查看用户付费病例 -->
	<select id="queryFees" resultType="java.lang.String">
		select post_id from
		user_to_post where user_id=#{userId}
	</select>

	<!--查看病例详情 -->
	<select id="cottomsDetail" resultType="CottomsPost">
		select * from cottoms_post
		where post_id=#{postId}
	</select>
	<select id="postLike" resultType="java.lang.Integer">
		select post_favour from
		cottoms_post where post_id=#{postId}
	</select>
	<!--用户购买病例表 -->
	<insert id="insertUserToPost">
		insert user_to_post (user_id,post_id) values
		(#{userId},#{postId})
	</insert>

	<!-- <select id="commentsLike" resultType="java.lang.Integer"> select comment_favour 
		from cottoms_comment where comment_id=#{commentId} </select> <update id="commentsLikeAdd"> 
		update cottoms_comment set comment_favour=#{commentFavour} where comment_id=#{commentId} 
		</update> -->

	<!-- <select id="commentNumber" resultType="java.lang.Integer"> select count(0) 
		from cottoms_comment where post_id=#{postId} </select> -->
	<select id="see" resultType="com.yayiabc.http.mvc.pojo.jpa.See">
		SELECT
		true_name,phone,qb_rget,qb_rout,qb_time,remark
		FROM qb_record JOIN
		USER
		ON qb_record.user_id=user.user_id
		AND qb_time&gt;='2017-10-25 00:00:00'
		AND qb_time&lt;='2017-10-29 24:00:00'
		AND remark LIKE '%充值%'
	</select>

	<!-- 收藏病例 -->
	<insert id="collect">
		insert collect (user_id,post_id)
		values(#{userId},#{postId})
	</insert>

	<!--查询收藏postId -->
	<select id="queryMyCollect" resultType="java.lang.Integer">
		select post_id from
		collect where user_id=#{userId}
	</select>

	<!--我的收藏 -->
	<select id="myCollect" resultType="CottomsPost">
		select
		headline,classify,post_time,free_content,charge_content,writer,cover,cottoms_post.user_id,charge_number,read_number
		from collect inner join cottoms_post on
		cottoms_post.user_id=collect.user_id
		<where>
			cottoms_post.post_id in
			<foreach collection="list" item="postId" index="index" open="("
				separator="," close=")">
				#{postId}
			</foreach>
		</where>
	</select>

	<!--收藏是否存在 -->
	<select id="existPostId" resultType="java.lang.Integer">
		select count(post_id) from
		collect where user_id=#{userId} and post_id=#{postId}
	</select>

	<!--病例是否购买 -->
	<select id="existBuyPostId" resultType="java.lang.Integer">
		select count(post_id) from
		user_to_post where user_id=#{userId} and post_id=#{postId}
	</select>

	<!--查询购买postId -->
	<select id="queryMyBuyPostId" resultType="java.lang.Integer">
		select post_id from
		user_to_post where user_id=#{userId}
	</select>

	<!--我的购买病例 -->
	<select id="myBuy" resultType="CottomsPost">
		select
		headline,classify,post_time,free_content,charge_content,writer,cover,cottoms_post.user_id,charge_number,read_number
		from collect inner join cottoms_post on
		cottoms_post.user_id=user_to_post.user_id
		<where>
			cottoms_post.post_id in
			<foreach collection="list" item="postId" index="index" open="("
				separator="," close=")">
				#{postId}
			</foreach>
		</where>
	</select>
</mapper>