<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.CrawlerYellowPagesDao">



	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.Sheet1" id="sheetMap">
		<result property="uid" column="uid" />
		<result property="POIName" column="POIName" />
		<result property="lat" column="lat" />
		<result property="lng" column="lng" />
		<result property="cityName" column="cityName" />
		<result property="address" column="address" />
		<result property="telephone" column="telephone" />
		<result property="distance" column="distance" />
		<result property="type" column="type" />
		<result property="tag" column="tag" />
		<result property="detailUrl" column="detail_url" />
		<result property="price" column="price" />
		<result property="shopHours" column="shop_hours" />
		<result property="overallRating" column="overall_rating" />
		<result property="tasteRating" column="taste_rating" />
		<result property="serviceRating" column="service_rating" />
		<result property="environmentRating" column="environment_rating" />
		<result property="facilityRating" column="facility_rating" />
		<result property="hygieneRating" column="hygiene_rating" />
		<result property="technologyRating" column="technology_rating" />
		<result property="imageNum" column="image_num" />
		<result property="grouponNum" column="groupon_num" />
		<result property="discountNum" column="discount_num" />
		<result property="commentNum" column="comment_num" />
		<result property="favoriteNum" column="favorite_num" />
		<result property="checkinNum" column="checkin_num" />
	</resultMap>
	<select id="getList" resultMap="sheetMap">
		select * from sheet1$
		<where>
			<if test="minlng!=null and minlng!='' and minlat!=null and minlat !=''">
				lat BETWEEN #{minlat} AND #{maxlat} AND lng BETWEEN #{minlng} AND
				#{maxlng}
			</if>
			<if test="cityName!=null and cityName!=''">
				and cityName =#{cityName}
			</if>
			<if test="keyWord!=null and keyWord!=''">
				and POIName like '%${keyWord}%'
			</if>
		</where>
		<if test="currentNum!=null and numberPerpage!=null">
			limit ${currentNum} , ${numberPerpage}
		</if>
	</select>
	<select id="queryCountTOX" resultType="int">
		select count(1) from
		sheet1$
		<where>
			<if test="minlng!=null and minlng!='' and minlat!=null and minlat !=''">
				lat BETWEEN #{minlat} AND #{maxlat} AND lng BETWEEN #{minlng} AND
				#{maxlng}
			</if>
			<if test="cityName!=null and cityName!=''">
				and cityName =#{cityName}
			</if>
			<if test="keyWord!=null and keyWord!=''">
				and POIName like '%${keyWord}%'
			</if>
		</where>
	</select>

	<!-- 上面是黄页 -->



	<!-- 下面是资料库 ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！ -->
	<select id="queryCountTOSheet1" resultType="int">
		select count(1) from
		data_for_dentist
		<where>
			<if test="keyWord !=null and keyWord != ''">
				title like '%${keyWord}%' or first_classify like '%${keyWord}%'
			</if>
		</where>
	</select>


	<select id="getMaterList" resultType="com.yayiabc.http.mvc.pojo.jpa.DaForDentist">
		select * from data_for_dentist
		<where>
			<if test="keyWord !=null and keyWord !=''">
				title like '%${keyWord}%' or first_classify like '%${keyWord}%'
			</if>
		</where>
		order by browse_num desc
		limit ${currentNum} , ${numberPerpage}
	</select>
	
	<!-- 资料库详情 -->
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.DaForDentist"
		id="getMaterDetail">
		<id column="id" property="id" />
			<result column="content" property="content" />
			<result column="title" property="title" />
			<result column="second_classify" property="secondClassify"/>
			<result column="first_classify" property="firstClassify"/>
	</resultMap>
	
	<select id="getMaterDetail" resultMap="getMaterDetail">
		select content ,id,title,second_classify,first_classify  from data_for_dentist where id=${id}
	</select>
	
	<!-- 收藏资料 -->
	<insert id="collectionMater">
	 insert into user_collect_datafordst values(#{userId},#{id},now())
	</insert>
	
	<select id="queryUserCollect" resultType="com.yayiabc.http.mvc.pojo.jpa.UserCollectDataforDst">
	 select * from user_collect_datafordst where user_id=#{userId}
	</select>
	
	<!-- 我的资料收藏 -->
	<select id="userCollectionList" resultType="com.yayiabc.http.mvc.pojo.jpa.DaForDentist">
	select * from data_for_dentist where id in (select id from user_collect_datafordst where user_id=#{userId} order by collect_time desc)
	</select>
	
	<select id="queryCollectId" resultType="int">
	 select id from user_collect_datafordst where user_id=#{userId}  order by collect_time desc   
	</select>
	
	<select id="queryIsCollect"  resultType="int">
	select count(1) from user_collect_datafordst where id=#{id} and  user_id=#{userId}
	</select>
	 
	 <delete id="deleteCollect">
	  delete from user_collect_datafordst where id=#{id} and  user_id=#{userId}
	 </delete>
</mapper>       