<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.FindCusDao">
 
 
 
	<select id="show" resultType="com.yayiabc.http.mvc.pojo.jpa.SaleInfo">
		SELECT * FROM USER 
		<where>
		 sale_id IS null
			<if test="cusName!=null and cusName!=''">
				true_name=#{cusName} and
			</if>
			<if test="phone!=null and phone!=''">
			phone=#{phone} and 
			</if>
		</where>
	</select>
	
	<select id="showMyCus" resultType="com.yayiabc.http.mvc.pojo.jpa.User">
		SELECT * FROM USER 
		<where>
		 sale_id =#{saleId}
		</where>
	</select>
</mapper>       