<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.FindCusDao">
     <resultMap type="User" id="c">
     <id property="userId" column="user_id"/>
     <result property="phone" column="phone"/>
      <result property="trueName" column="true_name"/>
     <association property="certification" javaType="com.yayiabc.http.mvc.pojo.jpa.Certification">
     	<id property="userId" column="u_id"/>
       <result property="companyName" column="company_name"/>
        <result property="part" column="part"/>
        <result property="workAddress" column="work_address"/>
     </association>
     </resultMap>
	<!-- <select id="show" resultMap="c">
		SELECT  cert.company_name,cart.part,cart.work_address,us.phone,us.true_name  FROM USER us join certification cert on us.user_id=cert.user_id 
		<where>
		 us.sale_id IS null
			<if test="cusName!=null and cusName!=''">
				cert.company_name='%${cusName}%' and
			</if>
			<if test="phone!=null and phone!=''">
			us.phone=#{phone}
			</if>
		</where>
	</select> -->
	
	<select id="showMyCus" resultType="com.yayiabc.http.mvc.pojo.jpa.User">
		SELECT * FROM `user` 
		<where>
		 sale_id =#{saleId}
		</where>
	</select>
	
	<select id="shows" resultType="com.yayiabc.http.mvc.pojo.jpa.CusResources">
	  select  * from  cus_resources  
	  <where>
	   <if test="state!=null and state!=''">
	  unit_name like'%${state}%' or unit_address like '%${state}%' or contacts_phone like '%${state}%'
	  </if>
	  </where>
	   limit #{currentNum} ,#{numberPerpage}
	</select>
	
	<select id="queryCount" resultType="java.lang.Integer">
	  select  count(0) from  cus_resources
	 <where>
	  <if test=" state !=null and state!='' ">
	   unit_name like '%${state}%' or unit_address like '%${state}%' or contacts_phone like '%${state}%'
	  </if>
	  </where>
	</select>
	<select id="showsss" resultMap="c">
 	SELECT cert.user_id u_id,us.user_id,cert.company_name,cert.part,cert.work_address,us.phone,us.true_name  FROM `user` us LEFT JOIN certification cert ON us.user_id=cert.user_id 
	 <where>
	  <if test="state!=null and state!=''">
	  us.true_name like '%${state}%' and us.sale_id is null  or us.phone like '%${state}%' and us.sale_id is null or  cert.company_name like '%${state}%'
	  and us.sale_id is null and  
	  </if>
	 us.sale_id is null
	 </where> 
	 limit #{currentNum} ,#{numberPerpage}
	 <!--  true_name ='%${state}%' and sale_id is null  or phone='%${state}%' and sale_id is null -->
	  <!-- SELECT  cert.user_id u_id,us.user_id,cert.company_name,cert.part,cert.work_address,us.phone,us.true_name  FROM USER us LEFT JOIN certification cert ON us.user_id=cert.user_id 
	  WHERE  us.sale_id IS NULL -->
	</select>
	
	<select id="queryCounts" resultType="int">
	   	SELECT count(1) FROM `user` us LEFT JOIN certification cert ON us.user_id=cert.user_id 
	 <where>
	  <if test="state!=null and state!=''">
	  us.true_name like '%${state}%' and us.sale_id is null  or us.phone like '%${state}%' and us.sale_id is null or  cert.company_name like '%${state}%'
	  and us.sale_id is null and  
	  </if>
	 us.sale_id is null
	 </where> 
	</select>
</mapper>       