<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.ItemBrandDao">
 	<!-- 根据商品品牌名称和产地查询商品品牌-->
 	<select id="queryItemBrand" resultMap="itemBrandRM">
 		select item_brand_id,item_brand_home,item_brand_logo,item_brand_name from item_brand 
 		<where>
 		 true
 		 <if test="itemBrandName!=null">and item_brand_name=#{itemBrandName}</if>
 		 <if test="itemBrandHome!=null">and item_brand_Home=#{itemBrandHome}</if>
 		</where>
 	</select>
 	
 	<!-- 根据商品品牌查询商品id -->
 	<select id="queryItemIdByItemBrandId" resultType="string">
 		select item_id from item_info where item_brand_id =#{itemBrandId}
 	</select>
 	
 	
	<select id="brandList" resultMap="itemBrandRM">
		select item_brand_id,item_brand_home,item_brand_logo,item_brand_name from item_brand
	</select>
	<resultMap type="ItemBrand" id="itemBrandRM">
		<id property="itemBrandId" column="item_brand_id"/>
		<result property="itemBrandLogo" column="item_brand_logo"/>
		<result property="itemBrandName" column="item_brand_name"/>
		<result property="itemBrandHome" column="item_brand_home"/>
	</resultMap>
	<resultMap type="ItemInfo" id="itemInfoRM" autoMapping="true">
		<id property="itemId" column="item_id"/>
		<association property="itemDetail" javaType="ItemDetail">
			<id property="itemId" column="did"/>
			<result property="itemPica" column="item_pica"/>
		</association>
	</resultMap>
	<select id="brandItemList" resultMap="itemInfoRM">
		SELECT d.item_id,d.item_pica,d.item_name,c.item_brand_name,d.item_price,d.sales,d.updated,c.item_brand_id FROM
(SELECT * FROM
(SELECT item_id,item_name,item_brand_id p_id,item_price,sales,updated FROM item_info) a
INNER JOIN
(SELECT item_id did,item_pica FROM item_detail) b
ON a.item_id=b.did) d
INNER JOIN
(SELECT * FROM item_brand WHERE item_brand_id=#{itemBrandId}) c
ON d.p_id=c.item_brand_id
        order by 
    <choose>
    	<when test="rule=1">updated desc</when>
    	<when test="rule=2">sales desc</when>
    	<when test="rule=3">item_price desc</when>
    	<when test="rule=4">item_price aesc</when>
    </choose>
        LIMIT ${currentNumber},${numberPerPage} 
	</select>
	<select id="getCount" resultType="int">
		SELECT count(0) FROM
(SELECT * FROM
(SELECT item_id,item_name,item_brand_id p_id,item_price,sales,updated FROM item_info) a
INNER JOIN
(SELECT item_id did,item_pica FROM item_detail) b
ON a.item_id=b.did) d
INNER JOIN
(SELECT * FROM item_brand WHERE item_brand_id=#{itemBrandId}) c
ON d.p_id=c.item_brand_id
	</select>
	
	<resultMap type="ItemInfo" id="itemInfoR" autoMapping="true">
		<id property="itemId" column="item_id"/>
		<association property="itemDetail" javaType="ItemDetail" autoMapping="true">
			<id property="itemId" column="d_id"/>
		</association>
		<association property="itemBrand" javaType="ItemBrand" autoMapping="true">
			<id property="itemBrandId" column="item_brand_id"/>
		</association>
		<collection property="itemValueList" ofType="ItemValue">
			<id property="itemValueId" column="item_value_id"/>
			<result property="itemPropertyName" column="item_property_name"/>
			<result property="itemPropertyInfo" column="item_property_info"/>
			<result property="itemPropertyNameTwo" column="item_property_name_two"/>
			<result property="itemPropertyTwoValue" column="item_property_two_value"/>
			<result property="itemPropertyNameThree" column="item_property_name_three"/>
			<result property="itemPropertyThreeValue" column="item_property_three_value"/>
			<result property="itemPropertyFourName" column="item_property_four_name"/>
			<result property="itemPropertyFourValue" column="item_property_four_value"/>
			<result property="itemPropertyFiveName" column="item_property_five_name"/>
			<result property="itemPropertyFiveValue" column="item_property_five_value"/>
			<result property="itemPropertySixName" column="item_property_six_name"/>
			<result property="itemPropertySixValue" column="item_property_six_value"/>
			<result property="itemSkuPrice" column="item_sku_price"/>
			<result property="itemSKU" column="item_sKU"/>
			<result property="stockNum" column="s_num"/>
		</collection>
		<collection property="commentList" ofType="Comments">
			<id property="commentId" column="comment_id"/>
			<result property="userName" column="true_name"/>
			<result property="userPhone" column="phone"/>
			<result property="commentGrade" column="comment_grade"/>
			<result property="commentContent" column="comment_content"/>
			<result property="replyContent" column="reply_content"/>
			<result property="created" column="co_created"/>
			<result property="updated" column="co_updated"/>
		</collection>
	</resultMap>
	<!-- 根据商品id查询商品详情 -->
	<select id="itemDetailDes" resultMap="itemInfoR">
	  SELECT * FROM
(SELECT o.item_id,o.item_name,o.item_brand_id,o.item_brand_logo,o.item_brand_home,o.item_brand_name,o.item_price,o.sales,o.state,o.one_classify,o.two_classify,o.three_classify,q.prop_id,q.item_property_name,
q.item_property_info,o.d_id,o.video,o.item_pica,o.item_picb,o.item_picc,o.item_picd,o.item_pice,o.commission,o.is_qb_buy,o.qb_num,o.store_item_id,o.apparatus_type,o.unit,o.produce_pompany,o.register_id,o.register_date,o.item_packing,o.item_levels,o.item_range,o.remark,o.item_desc,o.item_use,
o.comment_id,o.true_name,o.phone,o.comment_grade,o.comment_content,o.reply_content,o.co_created,o.co_updated,q.item_sku_price,q.item_sKU,q.item_property_name_two,q.item_property_two_value,q.item_property_name_three,q.item_property_three_value,
q.item_property_four_name,q.item_property_four_value,q.item_property_five_name,q.item_property_five_value,q.item_property_six_name,q.item_property_six_value,q.s_num FROM
(SELECT * FROM
(SELECT * FROM
         (SELECT * FROM
             item_info a
              inner JOIN
                (SELECT item_id d_id,item_desc,item_use,video,item_pica,item_picb,item_picc,item_picd,item_pice,commission,is_qb_buy,qb_num,store_item_id,apparatus_type,unit,produce_pompany,register_id,register_date,item_packing,item_levels,item_range,remark FROM item_detail) b
                   ON a.item_id=b.d_id) g
inner JOIN
(SELECT item_brand_id br_id,item_brand_logo,item_brand_home,item_brand_name FROM item_brand) d
ON d.br_id=g.item_brand_id) n
LEFT JOIN
              (SELECT c.comment_id,c.user_id,c.s_id,c.order_id,c.comment_grade,c.comment_content,c.reply_content,c.co_created,c.co_updated,f.true_name,f.phone FROM
                  (SELECT comment_id,user_id,item_id s_id,order_id,comment_grade,comment_content,reply_content,created co_created,updated co_updated FROM comments) c
              inner JOIN
              USER f
              ON c.user_id=f.user_id) m
ON n.item_id=m.s_id ) o
inner JOIN
(SELECT item_id prop_id,item_property_name,item_property_info,item_property_name_two,item_property_two_value,item_property_name_three,item_property_three_value,item_property_four_name,item_property_four_value,item_property_five_name,item_property_five_value,item_property_six_name,item_property_six_value,stock_num s_num,item_sku_price,item_sKU FROM item_value) q
ON o.item_id=q.prop_id) s
WHERE s.item_id=#{itemId}
	</select>
	
	
	<!-- 根据品牌id删除品牌 -->
	<delete id="deleteItemBrand">
	  delete from item_brand where item_brand_id=#{itemBrandId}
	</delete>
	
	<!-- 根据商品Id来删除商品信息 -->
	<delete id="deleteItemInfoByItemId">
		delete from item_info where item_id=#{itemId}
	</delete>
	
	<!-- 根据商品id删除商品详情 -->
	<delete id="deleteItemDetailByItemId">
		delete from item_detail where item_id=#{itemId}
	</delete>
	
	<resultMap type="ItemShow" id="itemShowRM">
		<result column="one_classify" property="oneClassify"/>
		<collection property="itemInfoList" ofType="ItemInfo" autoMapping="true">
			<id property="itemId" column="item_id"/>
			<association property="itemDetail" javaType="ItemDetail" autoMapping="true">
				<id property="itemId" column="did"/>
				<result property="itemPica" column="item_pica"/>
			</association>
		</collection>
	</resultMap>
	
	<select id="itemShow" resultMap="itemShowRM">
		select a.item_id,a.item_name,a.item_brand_id,a.item_price,a.sales,a.one_classify,b.did,b.item_pica from
		(SELECT item_id,item_name,item_brand_id,item_price,sales,one_classify FROM item_info) a
        INNER JOIN
        (SELECT item_id did,item_pica FROM item_detail) b
        ON a.item_id=b.did
	</select>
	
	<update id="updateItemBrand">
		update item_brand set item_brand_name=#{itemBrandName},item_brand_logo=#{itemBrandLogo},item_brand_home=#{itemBrandHome} 
		where item_brand_id=#{itemBrandId}
	</update>
	
	<select id="queryItemIdByUserId" resultType="string">
		select item_id from item_star where user_id=#{userId}
	</select>
	
	<select id="getUserIdByToken" resultType="string">
		select user_id from user_token where token=#{token}
	</select>
	
	<select id="getItemIdByUserId" resultType="string">
		select item_id from item_star where user_id=#{userId}
	</select>
	
	<insert id="addItemBrand">
		insert into item_brand values(null,#{itemBrandLogo},#{itemBrandHome},#{itemBrandName},now(),now())
	</insert>
	
	<select id="getItemSKUByPrice" resultType="string">
		select item_sKU from item_value where item_sku_price=#{itemPrice} and item_id=#{itemId} limit 1
	</select>
	
	<select id="getItemPropertyNameA" resultType="string">
		select item_property_name from item_value where item_id=#{itemId} group by item_property_name
	</select>
	
	<select id="getItemPropertyInfoA" resultType="string">
		select item_property_info from item_value where item_id=#{itemId} group by item_property_info
	</select>
	<select id="getItemPropertyNameB" resultType="string">
		select item_property_name_two from item_value where item_id=#{itemId} group by item_property_name_two
	</select>
	
	<select id="getItemPropertyInfoB" resultType="string">
		select item_property_two_value from item_value where item_id=#{itemId} group by item_property_two_value
	</select>
	<select id="getItemPropertyNameC" resultType="string">
		select item_property_name_three from item_value where item_id=#{itemId} group by item_property_name_three
	</select>
	
	<select id="getItemPropertyInfoC" resultType="string">
		select item_property_three_value from item_value where item_id=#{itemId} group by item_property_three_value
	</select>
	<select id="getItemPropertyNameD" resultType="string">
		select item_property_four_name from item_value where item_id=#{itemId} group by item_property_four_name
	</select>
	
	<select id="getItemPropertyInfoD" resultType="string">
		select item_property_four_value from item_value where item_id=#{itemId} group by item_property_four_value
	</select>
	<select id="getItemPropertyNameE" resultType="string">
		select item_property_five_name from item_value where item_id=#{itemId} group by item_property_five_name
	</select>
	
	<select id="getItemPropertyInfoE" resultType="string">
		select item_property_five_value from item_value where item_id=#{itemId} group by item_property_five_value
	</select>
	<select id="getItemPropertyNameF" resultType="string">
		select item_property_six_name from item_value where item_id=#{itemId} group by item_property_six_name
	</select>
	
	<select id="getItemPropertyInfoF" resultType="string">
		select item_property_six_value from item_value where item_id=#{itemId} group by item_property_six_value
	</select>
</mapper>       