<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.ItemStatisticsDao">
	<resultMap type="ItemStatistics" id="itemStatisticsRM">
		<id column="item_id" property="itemId"/>
		<result column="item_name" property="itemName"/>
		<result column="item_sKU" property="itemSKU"/>
		<result column="item_brand_name" property="itemBrandName"/>
		<result column="item_price" property="price"/>
		<result column="sales" property="sales"/>
		<result column="refund_num" property="refundNum"/>
		<result column="salesMoney" property="salesMoney"/>
	</resultMap>
	
	<select id="query" resultMap="itemStatisticsRM">
		SELECT 
		ii.item_id,
		ii.item_name,
		iv.item_sKU,
		ib.item_brand_name,
		ii.item_price,
		ii.sales,
		ii.refund_num,
		ii.item_price*ii.sales AS salesMoney 
		FROM item_info ii
		LEFT JOIN item_value iv
		ON ii.item_id=iv.item_id
		LEFT JOIN item_brand ib
		ON ii.item_brand_id=ib.item_brand_id 
		<where>
			<if test="itemName !=null and itemName !=''">
				ii.item_name LIKE '%${itemName}%'
			</if>
			<if test="itemId !=null and itemId !=''">
				AND ii.item_id LIKE '%${itemId}%'
			</if>
			<if test="itemSKU !=null and itemSKU !=''">
				AND iv.item_sKU LIKE '%${itemSKU}%'
			</if>
			<if test="itemBrandName !=null and itemBrandName !=''">
				AND ib.item_brand_name LIKE '%${itemBrandName}%'
			</if>
		</where>
		GROUP BY iv.item_sKU
		<if test="state == 0">
			ORDER BY ii.created DESC 
		</if>
		<if test="state == 1">
			ORDER BY ii.sales DESC
		</if>
		<if test="state ==2">
			ORDER BY ii.refund_num DESC
		</if>
        LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT count(0) FROM (
			SELECT count(0)
			FROM item_info ii
			LEFT JOIN item_value iv
			ON ii.item_id=iv.item_id
			LEFT JOIN item_brand ib
			ON ii.item_brand_id=ib.item_brand_id 
			<where>
				<if test="itemName !=null and itemName !=''">
					ii.item_name LIKE '%${itemName}%'
				</if>
				<if test="itemId !=null and itemId !=''">
					AND ii.item_id LIKE '%${itemId}%'
				</if>
				<if test="itemSKU !=null and itemSKU !=''">
					AND iv.item_sKU LIKE '%${itemSKU}%'
				</if>
				<if test="itemBrandName !=null and itemBrandName !=''">
					AND ib.item_brand_name LIKE '%${itemBrandName}%'
				</if>
			</where>
			GROUP BY iv.item_sKU
			) AS a
	</select>
</mapper>