<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.ItemBrandDao">
 	<!-- 根据商品品牌名称和产地查询商品品牌-->
 	<select id="queryItemBrand" resultMap="itemBrandRM">
 		select item_brand_id,item_brand_home,item_brand_logo,item_brand_name from item_brand 
 		<where>
 		 state=1
 		 <if test="itemBrandName!=null">and item_brand_name like '%${itemBrandName}%'</if>
 		 <if test="oneClassify!=null">and item_brand_Home like '%${oneClassify}%'</if>
 		</where>
 		limit #{currentNumber},#{numberPerPage}
 	</select>
 	
 	<!-- 根据商品品牌查询商品id -->
 	<select id="queryItemIdByItemBrandId" resultType="string">
 		select item_id from item_info where item_brand_id =#{itemBrandId}
 	</select>
 	
 	
	<select id="brandList" resultMap="itemBrandRM">
		select item_brand_id,item_brand_home,item_brand_logo,item_brand_name from item_brand where state=1
	</select>
	<resultMap type="ItemBrand" id="itemBrandRM">
		<id property="itemBrandId" column="item_brand_id"/>
		<result property="itemBrandLogo" column="item_brand_logo"/>
		<result property="itemBrandName" column="item_brand_name"/>
		<result property="itemBrandHome" column="item_brand_home"/>
	</resultMap>
	<resultMap type="ItemInfo" id="itemInfoRM" autoMapping="true">
		<id property="itemId" column="item_id"/>
		<association property="itemDetail" javaType="ItemDetail">
			<id property="itemId" column="did"/>
			<result property="itemPica" column="item_pica"/>
		</association>
	</resultMap>
	<select id="brandItemList" resultMap="itemInfoRM">
		SELECT d.is_throw,d.item_sort,d.item_id,d.item_pica,d.item_name,c.item_brand_name,d.item_price,d.sales,d.updated,c.item_brand_id FROM
(SELECT * FROM
(SELECT item_id,item_name,item_brand_id p_id,item_price,sales,updated,is_throw,item_sort FROM item_info where state=1) a
INNER JOIN
(SELECT item_id did,item_pica FROM item_detail) b
ON a.item_id=b.did) d
INNER JOIN
(SELECT * FROM item_brand WHERE item_brand_id=#{itemBrandId} and state=1) c
ON d.p_id=c.item_brand_id
        order by 
    <choose>
    	<when test="rule==1">updated desc</when>
    	<when test="rule==2">sales desc</when>
    	<when test="rule==3">item_price desc</when>
    	<when test="rule==4">item_price asc</when>
    </choose>
        LIMIT ${currentNumber},${numberPerPage}
	</select>

	<select id="getCount" resultType="int">
		SELECT count(0) FROM
		(SELECT * FROM
		(SELECT item_id,item_name,item_brand_id p_id,item_price,sales,updated,is_throw,item_sort FROM item_info where state=1) a
		INNER JOIN
		(SELECT item_id did,item_pica FROM item_detail) b
		ON a.item_id=b.did) d
		INNER JOIN
		(SELECT * FROM item_brand WHERE item_brand_id=#{itemBrandId} and state=1) c
		ON d.p_id=c.item_brand_id
	</select>

	
	<resultMap type="ItemInfo" id="itemInfoR" autoMapping="true">
		<id property="itemId" column="item_id"/>
		<result property="itemSort" column="item_sort"/>
		<association property="itemDetail" javaType="ItemDetail" autoMapping="true">
			<id property="itemId" column="d_id"/>
			<result property="video" column="video"/>
			<association property="vidManage" javaType="VidManage" autoMapping="true">
				<id property="viId" column="vi_id"/>
				<result property="vidName" column="video_name"/>
				<result property="videoType" column="video_type"/>
				<result property="vidRoute" column="video_route"/>
			</association>
		</association>
		<association property="itemBrand" javaType="ItemBrand" autoMapping="true">
			<id property="itemBrandId" column="item_brand_id"/>
		</association>
		<collection property="itemValueList" ofType="ItemValue">
			<id property="itemValueId" column="item_value_id"/>
			<result property="itemPropertyName" column="item_property_name"/>
			<result property="itemPropertyInfo" column="item_property_info"/>
			<result property="itemPropertyNameTwo" column="item_property_name_two"/>
			<result property="itemPropertyTwoValue" column="item_property_two_value"/>
			<result property="itemPropertyNameThree" column="item_property_name_three"/>
			<result property="itemPropertyThreeValue" column="item_property_three_value"/>
			<result property="itemPropertyFourName" column="item_property_four_name"/>
			<result property="itemPropertyFourValue" column="item_property_four_value"/>
			<result property="itemPropertyFiveName" column="item_property_five_name"/>
			<result property="itemPropertyFiveValue" column="item_property_five_value"/>
			<result property="itemPropertySixName" column="item_property_six_name"/>
			<result property="itemPropertySixValue" column="item_property_six_value"/>
			<result property="itemSkuPrice" column="item_sku_price"/>
			<result property="itemSKU" column="item_sKU"/>
			<result property="stockNum" column="stock_num"/>
			<result property="canUse" column="can_use"/>
			<result property="tiChen" column="ti_chen"/>
			<result property="itemQb" column="item_qb"/>
		</collection>
		<collection property="commentList" ofType="Comments">
			<id property="commentId" column="comment_id"/>
			<result property="userName" column="true_name"/>
			<result property="userPhone" column="phone"/>
			<result property="commentGrade" column="comment_grade"/>
			<result property="commentContent" column="comment_content"/>
			<result property="replyContent" column="reply_content"/>
			<result property="created" column="co_created"/>
			<result property="updated" column="co_updated"/>
		</collection>
	</resultMap>

	<select id="itemDetailDes" resultMap="itemInfoR">
		SELECT a.*,d.item_brand_logo,d.item_brand_home,d.item_brand_name,b.item_id as d_id,q.item_property_name,
q.item_property_info,b.item_pica,b.item_picb,b.item_picc,b.item_picd,b.item_pice,b.commission,b.store_item_id,b.apparatus_type,b.unit,b.produce_pompany,b.register_id,b.register_date,b.item_packing,b.item_levels,b.item_range,b.remark,b.item_desc,b.item_use,b.video,
c.comment_id,f.true_name,f.phone,c.comment_grade,c.comment_content,c.reply_content,c.created AS co_created,c.updated AS co_updated,q.item_sku_price,q.item_sKU,q.item_property_name_two,q.item_property_two_value,q.item_property_name_three,q.item_property_three_value,q.can_use,
q.stock_num,q.item_value_id,q.item_qb,r.* FROM
		(select * from item_info WHERE item_id=#{itemId}) a
		inner JOIN item_detail b ON a.item_id=b.item_id
		inner JOIN item_brand d  ON a.item_brand_id=d.item_brand_id
		LEFT JOIN comments c on a.item_id=c.item_id
		LEFT JOIN user f ON c.user_id=f.user_id
		inner JOIN  item_value q ON a.item_id=q.item_id
		LEFT JOIN vid_manage r ON r.video_route=b.video
		order by c.created desc
	</select>

	
	<!-- 根据品牌id删除品牌 -->
	<update id="deleteItemBrand">
		update item_brand set state=2 where item_brand_id=#{itemBrandId}
	</update>
	
	<!-- 根据商品Id来删除商品信息 -->
	<delete id="deleteItemInfoByItemId">
		delete from item_info where item_id=#{itemId}
	</delete>
	
	<!-- 根据商品id删除商品详情 -->
	<delete id="deleteItemDetailByItemId">
		delete from item_detail where item_id=#{itemId}
	</delete>
	
	<resultMap type="ItemShow" id="itemShowRM">
		<result column="one_classify" property="oneClassify"/>
		<collection property="itemInfoList" ofType="ItemInfo" autoMapping="true">
			<id property="itemId" column="item_id"/>
			<association property="itemDetail" javaType="ItemDetail" autoMapping="true">
				<id property="itemId" column="did"/>
				<result property="itemPica" column="item_pica"/>
			</association>
		</collection>
	</resultMap>
	
	<select id="itemShow" resultMap="itemShowRM">
		select a.item_id,a.item_name,a.item_brand_id,a.item_price,a.sales,a.one_classify,b.did,b.item_pica from
		(SELECT item_id,item_name,item_brand_id,item_price,sales,one_classify FROM item_info) a
        INNER JOIN
        (SELECT item_id did,item_pica FROM item_detail) b
        ON a.item_id=b.did
	</select>
	
	<update id="updateItemBrand">
		update item_brand set item_brand_name=#{itemBrandName},item_brand_logo=#{itemBrandLogo},item_brand_home=#{itemBrandHome} 
		where item_brand_id=#{itemBrandId}
	</update>
	
	<select id="queryItemIdByUserId" resultType="string">
		select item_id from item_star where user_id=#{userId}
	</select>
	
	<select id="getUserIdByToken" resultType="string">
		select user_id from user_token where token=#{token}
	</select>
	
	<select id="getItemIdByUserId" resultType="string">
		select item_id from item_star where user_id=#{userId}
	</select>
	
	<insert id="addItemBrand">
		insert into item_brand values(null,#{itemBrandLogo},#{itemBrandHome},#{itemBrandName},now(),now(),1)
	</insert>
	
	<select id="getItemSKUByPrice" resultType="string">
		select item_sKU from item_value where item_sku_price=#{itemPrice} and item_id=#{itemId} limit 1
	</select>
	
	<select id="getItemPropertyNameA" resultType="string">
		select item_property_name from item_value where item_id=#{itemId} group by item_property_name
	</select>
	
	<select id="getItemPropertyInfoA" resultType="string">
		select item_property_info from item_value where item_id=#{itemId} group by item_property_info
	</select>
	<select id="getItemPropertyNameB" resultType="string">
		select item_property_name_two from item_value where item_id=#{itemId} group by item_property_name_two
	</select>
	
	<select id="getItemPropertyInfoB" resultType="string">
		select item_property_two_value from item_value where item_id=#{itemId} group by item_property_two_value
	</select>
	<select id="getItemPropertyNameC" resultType="string">
		select item_property_name_three from item_value where item_id=#{itemId} group by item_property_name_three
	</select>
	
	<select id="getItemPropertyInfoC" resultType="string">
		select item_property_three_value from item_value where item_id=#{itemId} group by item_property_three_value
	</select>
	<select id="getItemPropertyNameD" resultType="string">
		select item_property_four_name from item_value where item_id=#{itemId} group by item_property_four_name
	</select>
	
	<select id="getItemPropertyInfoD" resultType="string">
		select item_property_four_value from item_value where item_id=#{itemId} group by item_property_four_value
	</select>
	<select id="getItemPropertyNameE" resultType="string">
		select item_property_five_name from item_value where item_id=#{itemId} group by item_property_five_name
	</select>
	
	<select id="getItemPropertyInfoE" resultType="string">
		select item_property_five_value from item_value where item_id=#{itemId} group by item_property_five_value
	</select>
	<select id="getItemPropertyNameF" resultType="string">
		select item_property_six_name from item_value where item_id=#{itemId} group by item_property_six_name
	</select>
	
	<select id="getItemPropertyInfoF" resultType="string">
		select item_property_six_value from item_value where item_id=#{itemId} group by item_property_six_value
	</select>
	
	<select id="getVideoNameByVideoRoute" resultType="string">
		select video_name from vid_manage where video_route=#{vedio}
	</select>
	
	<select id="getCountOne" resultType="java.lang.Integer">
		select count(0) from item_brand 
 		<where>
 		 state=1
 		 <if test="itemBrandName!=null">and item_brand_name like '%${itemBrandName}%'</if>
 		 <if test="itemBrandHome!=null">and item_brand_Home like '%${itemBrandHome}%'</if>
 		</where>
	</select>
	
	<select id="getCommentNumber" resultType="java.lang.Integer">
		select count(0) from comments where item_id=#{itemId}
	</select>


</mapper>       