<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.MomentManageDao">
	<insert id="addLower" parameterType="Moment" useGeneratedKeys="true" keyProperty="momentId">
		insert into moment(user_name,user_id,moment_content,moment_picture,moment_type)
		VALUE (#{userName},#{userId},#{momentContent},#{momentPicture},#{momentType})
	</insert>

	<insert id="addHigh" parameterType="Moment" useGeneratedKeys="true" keyProperty="momentId">
		insert into moment(user_name,user_id,moment_content_id,moment_content_title,moment_type)
		VALUE (#{userName},#{userId},#{momentContentId},#{momentContentTitle},#{momentType})
	</insert>

	<delete id="deleteMoment">
		delete from moment where moment_id=#{momentId}
	</delete>

	<delete id="deleteMomentComment">
		delete from comment_total where comment_to_id=#{momentId} and comment_type=3
	</delete>



	<select id="getMomentTotalNumber" resultType="int">
		select count(0) from moment
	</select>

	<resultMap id="moment" type="Moment" autoMapping="true">
		<id property="momentId" column="moment_id"/>
		<collection property="commentList" ofType="Comment" select="com.yayiabc.http.mvc.dao.CommentManageDao.queryComment" column="{commentToId=moment_id,commentType=3,currentNumber=0,numberPerPage=10}"/>
	</resultMap>


	<select id="queryList" resultMap="moment">
		SELECT * from moment order by moment_time desc limit #{currentNumber},#{numberPerPage}
	</select>










</mapper>       