<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.MyWalletDao">

	<!-- <resultMap type="com.yayiabc.http.mvc.pojo.jpa.SaleInfo" id="map"> 
		<id property="saleId" column="sale_id" /> <result property="money" column="money" 
		/> <collection property="saleincome" ofType="SaleIncome"> <id property="saleIncomeId" 
		column="sale_income_id" /> <result property="getMoney" column="get_money" 
		/> </collection> <collection property="With" column="With"> <id property="cashId" 
		column="cash_id" /> <result property="cashMoney" column="cash_money" /> </collection> 
		</resultMap> -->
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.SaleIncome"
		id="d">
		<id property="saleIncomeId" column="sale_income_id" />
		<result property="getMoney" column="get_money" />
		<result property="updated" column="updated" />
		<association property="order"
			javaType="com.yayiabc.http.mvc.pojo.jpa.Ordera">
			<id property="orderId" column="order_id" />
		</association>
		<association property="saleInfo"
			javaType="com.yayiabc.http.mvc.pojo.jpa.SaleInfo">
			<result property="money" column="money" />
		</association>
	</resultMap>
	<select id="saleInCome" resultMap="d">
		SELECT
		come.get_money,come.updated,come.order_id,money FROM
		sale_income
		come JOIN
		ordera orde ON
		orde.order_id=come.order_id join sale_info sale
		on sale.sale_id=come.sale_id
		<where>
			come.sale_id=#{saleId}
			and come.created
			<if
				test="starTime!=null and starTime!='' and endTime!=null and endTime!=''">
				between #{starTime} and #{endTime}
			</if>

		</where>
		<!-- WHERE sale_id=#{saleId} and come.updated<(SELECT DATE_ADD(NOW(),INTERVAL 
			-#{data} MONTH)) -->

		<!-- ORDER &lt BY come.created DESC -->
	</select>
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.With" id="cc">
		<id property="cashId" column="cash_id" />
		<result property="cashMoney" column="cash_money" />
		<result property="cashSuTime" column="cash_su_time" />
		<association property="saleInfo" javaType="SaleInfo">
			<result property="money" column="money" />
		</association>
	</resultMap>
	<select id="with" resultMap="cc">
		SELECT cashMoney,cash_su_time ,sale.money FROM cashmanage cash join
		sale_info sale on
		sale.sale_id =cash.sale_id
		<where>
			cash.sale_id=#{saleId}
			<if
				test="starTime!=null and starTime!='' and endTime!=null and endTime!=''">
				and cash.cash_su_time between #{starTime} and #{endTime}
			</if>
		</where>
		<!-- sale_id=#{saleId} -->
	</select>

	<!-- //chaxun userid -->
	<select id="queryUserID" resultType="java.lang.String">
		select user_id from ordera
		where order_id=#{orderId}
	</select>

	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.SaleInfo" id="c">
		<id property="saleId" column="sale_id" />
		<!-- userTable -->
		<collection property="user" ofType="User">
			<id property="userId" column="user_id" />
			<result property="trueName" column="true_name" />
			<result property="phone" column="phone" />

			<!-- //订单表 -->
			<collection property="orderaList" ofType="Ordera">
				<id property="orderId" column="order_id" />
				<result property="closeTime" column="close_name" />
				<result property="state" column="state" />


				<!-- //退款表 -->
				<association property="refund"
					javaType="com.yayiabc.http.mvc.pojo.jpa.Refund">
					<id property="refundId" column="refund_id" />
					<result property="refund_money" column="refundMoney" />
				</association>

				<!-- //订单商品表 -->
				<collection property="orderitemList" ofType="OrderItem">
					<result property="itemName" column="item_name" />
					<result property="price" column="price" />
					<result property="num" column="num" />
					<result property="totalFee" column="total_fee" />

				</collection>
			</collection>
		</collection>
		<!-- //收入表 -->
		<collection property="saleincome" ofType="SaleIncome">
			<id property="sale_income_id" column="saleIncomeId" />
			<result property="getState" column="get_state" />
			<result property="getMoney" column="get_money" />
		</collection>
	</resultMap>
	<!-- //主页面 mian -->
	<select id="queryOrder" resultMap="c">
		SELECT
		us.true_name,us.phone,orde.state,orde.close_time,
		orde_it.item_name,
		orde_it.price,orde_it.num,orde_it.total_fee,
		refu.refund_money,sale_in.get_state,sale_in.get_money
		FROM sale_info
		sale LEFT JOIN sale_income sale_come ON sale.sale_id
		=sale_come.sale_id
		LEFT JOIN ordera orde ON
		sale_come.order_id=orde.order_id LEFT JOIN `user` us ON
		us.user_id=orde.user_id
		LEFT JOIN order_item orde_it ON
		orde.order_id=orde_it.order_id LEFT JOIN refund refu
		ON
		refu.order_id=orde.order_id
		LEFT JOIN sale_income sale_in ON
		orde.order_id=sale_in.order_id
		where orde.order_id=#{orderId}
	</select>
	<!-- 123 -->
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.SaleInfo" id="oo">
		<id property="saleId" column="sale_id" />
		<result property="money" column="money" />
		<collection property="saleincome"
			ofType="com.yayiabc.http.mvc.pojo.jpa.SaleIncome">
			<id property="saleIncomeId" column="sale_income_id" />
			<result property="getMoney" column="get_money" />
			<result property="orderId" column="order_id" />
			<collection property="makerTime"
				ofType="com.yayiabc.http.mvc.pojo.jpa.MakerTime">
				<result property="universalTime" column="universal_time" />
			</collection>
		</collection>
		<collection property="With" ofType="com.yayiabc.http.mvc.pojo.jpa.With">
			<id property="saleId" column="cash_id" />
			<result property="cashMoney" column="cash_money" />
			<collection property="makerTimey"
				ofType="com.yayiabc.http.mvc.pojo.jpa.MakerTime">
				<result property="universalTime" column="universal_time" />
			</collection>
		</collection>
	</resultMap>
	<select id="queryTMD" resultMap="oo">
		SELECT
		cash.cash_id,income.sale_income_id,info.sale_id,
		timea.universal_time,income.get_money,cash.cashMoney,info.money FROM
		sale_info info
		LEFT JOIN cashmanage cash ON info.sale_id=cash.sale_id
		LEFT JOIN sale_income income ON cash.sale_id=income.sale_id
		LEFT JOIN
		maker_time timea ON income.sale_id=timea.sale_id
		where
		info.sale_id=#{saleId}
		ORDER BY
		timea.universal_time DESC
	</select>

	<insert id="setTime">
		insert into maker_time(sale_id,universal_time)
		valuer(#{saleId},now)
	</insert>


	<select id="getSaleIdByToken" resultType="string">
		select sale_id from
		sale_token where sale_token=#{token}
	</select>

	<select id="getBalanceBySaleId" resultType="java.lang.Double">
		select balance from
		balance where sale_id=#{saleId}
	</select>

	<select id="getAllIn" resultType="java.lang.Double">
		select sum(balance_in) from
		balance where sale_id=#{saleId}
	</select>

	<select id="getAllOut" resultType="java.lang.Double">
		select sum(balance_out) from
		balance where sale_id=#{saleId}
	</select>

	<select id="myWalletDetails" resultType="Balance">
		select * from balance
		<where>
			sale_id=#{saleId}
			<if test="state==2">and balance_out is null</if>
			<if test="state==3">and balance_in is null</if>
			<if test="starTime!=null">and created &lt; #{starTime}</if>
			<if test="endTime!=null">and created &gt; #{endTime}</if>
		</where>
	</select>

	<select id="getCount" resultType="java.lang.Integer">
		select count(0) from balance
		where balance_id=#{balanceId} and balance_in is null
	</select>

	<select id="getViewDetailByOut" resultType="Balance">
		select * from balance
		where balance_id=#{balanceId}
	</select>

	<!-- <select id="getTime" resultType="java.util.Date"> select created from 
		balance where balance_id=#{balanceId} </select> -->


	<select id="detail" resultType="com.yayiabc.http.mvc.pojo.jpa.Balance">
		SELECT * FROM balance
		<where>
			describey  NOT  like'%申请%'
			<if test="state!=null and state!=''">
				and describey like '%${state}%'
			</if>
			<if test="starTime !=null and starTime !=''">
				and created >#{starTime}
			</if>
			<if test="endTime !=null and endTime !=''">
				and created &lt;#{endTime}
			</if>
			<if test="saleId!=null and saleId!=''">
			AND sale_id=#{saleId}
			</if>
		</where>
		order by created desc limit #{currentNum} ,#{numberPerpage}
	</select>
	<select id="getTotal" resultType="com.yayiabc.http.mvc.pojo.jpa.Balance">
		SELECT * FROM balance
	   <where>
		describey IS NOT NULL
		and
		sale_id=#{saleId}
	    
	    <if test="state!=null and state!=''">
				and describey like '%${state}%'
			</if>
			
		<if test="starTime !=null and starTime !=''">
				and created >#{starTime}
			</if>
			<if test="endTime !=null and endTime !=''">
				and created &lt;#{endTime}
			</if>
			</where>
	</select>

	
	<select id="details" resultType="com.yayiabc.http.mvc.pojo.jpa.Balance">
		select * from balance where balance_id=#{balanceId}
	</select>
	
	<select id="queryCount" resultType="int">
		SELECT count(0) FROM balance
		<where>
			describey IS NOT NULL
			<if test="state!=null and state!=''">
				and describey like '%${state}%'
			</if>
			<if test="starTime !=null and starTime !=''">
				and created >#{starTime}
			</if>
			<if test="endTime !=null and endTime !=''">
				and created &lt;#{endTime}
			</if>
			AND sale_id=#{saleId}
		</where>
	</select>
</mapper>       