<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.OrderDetailsDao">
	<resultMap type="Ordera" id="o">
		<id property="orderId" column="order_id" />
		<collection property="orderitemList" ofType="OrderItem">
			<id property="itemId" column="item_id" />
			<result property="itemName" column="item_name" />
			<result property="picPath" column="pic_path" />
		</collection>
	</resultMap>

	<!-- 开始 -->
	<resultMap type="Ordera" id="orderDetailsResultMap">
		<!-- 订单表 -->
		<!-- <collection property="orderaList" ofType="Ordera"> -->
		<id property="orderId" column="order_id" />
		<result property="userId" column="ouserId" />
		<result property="shippingCode" column="shipping_code" />
		<result property="created" column="created" />
		<result property="state" column="state" />
		<result property="actualPay" column="actual_pay" />
		<result property="qbDed" column="qb_ded" />
		<result property="totalFee" column="total_fee" />
		<result property="postFee" column="post_fee" />
		<result property="giveQb" column="give_qb" />
		<result property="payType" column="pay_type" />
		<result property="invoiceHand" column="invoice_hand" />
		<result property="isRegister" column="is_register" />
		<result property="buyerMessage" column="buyer_message" />
		<result property="qbDes" column="qb_des" />
		<association property="receiver"
			javaType="com.yayiabc.http.mvc.pojo.jpa.Receiver">
			<id property="receiverId" column="receiver_id" />
			<result property="receiverName" column="receiver_name" />
			<result property="province" column="province" />
			<result property="city" column="city" />
			<result property="county" column="county" />
			<result property="receiverDetail" column="receiver_detail" />
			<result property="phone" column="phone" />
			<result property="isDefault" column="is_default" />
			<result property="landlineNumber" column="landline_number" />
		</association>
		<!-- //订单商品表 -->
		<collection property="orderitemList" ofType="OrderItem">
			<result property="itemId" column="item_id" />
			<result property="picPath" column="pic_path" />
			<result property="num" column="num" />
			<result property="price" column="price" />
			<result property="itemId" column="order_item" />
			<result property="itemSKU" column="itm_SKU" />
			<result property="itemPropertyNamea" column="item_property_namea" />
			<result property="itemPropertyNameb" column="item_property_nameb" />
			<result property="itemPropertyNamec" column="item_property_namec" />
			<result property="itemBrandName" column="item_brand_name" />
			<result property="itemType" column="item_type" />
			<!-- 商品表 信息表 -->
			 <association property="itemInfo"
				javaType="com.yayiabc.http.mvc.pojo.jpa.ItemInfo">
				<result property="itemName" column="item_name" />
			</association>
		</collection>
	</resultMap>
	<select id="orderDetailsShow" parameterType="java.util.Map"
		resultMap="orderDetailsResultMap">
		SELECT
		orde.user_id ouserId ,orde.order_id,DATE_FORMAT(orde.created,
		'%Y-%m-%d %H:%i:%S') created,orde_it.num,orde_it.price,orde.actual_pay,orde.give_qb,
		orde.pay_type,orde.invoice_hand,orde.is_register,orde.buyer_message,
		orde_it.item_name,orde_it.pic_path,orde_it.itm_SKU,
		orde_it.item_property_namea,orde_it.item_brand_name,orde_it.item_type,
		orde_it.item_property_nameb,orde_it.item_property_namec,orde_it.item_id,orde.post_fee,orde.qb_ded,orde.state,
		orde.actual_pay,orde.total_fee,orde.qb_des
		,rece.*
		FROM<!--  `user` us
		JOIN -->
		ordera orde
		<!-- ON
		us.user_id=orde.user_id -->
		JOIN
		receiver rece
		ON
		rece.receiver_id=orde.receiver_id
		JOIN
		order_item orde_it
		ON
		orde.order_id=orde_it.order_id
		<where>
			<if test="userId !=null and userId!=''">
				orde.user_id=#{userId}
			</if>
			<!-- <choose> <when test="state==3 and state!='' and state !=null"> and 
				orde.state=#{state} or orde.state=5 </when> <otherwise> and orde.state=#{state} 
				</otherwise> </choose> -->
			<if test="state !=null and state!=''  and state !=2">
			and	orde.state=#{state} 
			</if>
			<if test="state==2">
			  and	orde.state in(2,5)
			</if>
		</where>
		order by orde.created desc limit ${currentNum} , ${numberPerpage}
	</select>


	<select id="queryCount" parameterType="java.util.Map"
		resultType="int">
		select count(0) from
		(SELECT
		count(0)
		FROM
		
		ordera orde 
		<!-- us.user_id=orde.user_id --> JOIN order_item
		orde_it ON
		orde.order_id=orde_it.order_id <!-- JOIN
		item_info item_f ON
		orde_it.item_id
		= item_f.item_id --> join receiver rece on
		rece.receiver_id=orde.receiver_id
		<where>
			<if test="userId !=null and userId!=''">
				orde.user_id=#{userId}
			</if>
			<!-- <choose> <when test="state==3 and state!='' and state !=null"> and 
				orde.state=#{state} or orde.state=5 </when> <otherwise> and orde.state=#{state} 
				</otherwise> </choose> -->
			<if test="state !=null and state!=''  and state !=2">
			and	orde.state=#{state} 
			</if>
			<if test="state==2">
			  and	orde.state in(2,5)
			</if>
		</where>
		group by orde.order_id) a
	</select>
	<!-- //取消订单 -->
	<update id="cancel">
		update ordera
		set
		state=0,close_time=now(),updated=now()
		where order_id=#{orderId} and user_id=#{userId}
	</update>
	<!-- //确定收货 -->

	<update id="confirmReceipt">
		update ordera
		set state=4,end_time=now(),updated=now()
		where order_id=#{orderId}
	</update>


	<select id="showComItem" resultMap="o">
		SELECT
		orde_it.order_id,orde_it.item_id,orde_it.item_name,orde_it.pic_path
		FROM
		ordera orde JOIN order_item orde_it ON
		orde.order_id=orde_it.order_id
		WHERE
		orde.order_id=#{showComItem}
	</select>
	<!-- @Param("userId")String userId, @Param("itemId")String itemId,@Param("orderId")String 
		orderId, @Param("commentGrade")String commentGrade,@Param("commentContent")String 
		commentContent, @Param("itemSku")String itemSku,@Param("sb")String sb -->
	<!-- //makeSureCom 确定评论 -->
	<insert id="makeSureCom">
		insert into
		comments(user_id,item_id,order_id,comment_grade,comment_content,created,updated,sku,describey,state)
		values(
		#{userId},#{itemId} ,#{orderId},#{commentGrade}
		,#{commentContent},now(),now(),#{itemSku},#{sb},1
		)
	</insert>
	<resultMap type="Ordera" id="q">
		<!-- 订单表 -->
		<!-- <collection property="orderaList" ofType="Ordera"> -->
		<id property="orderId" column="order_id" />
		<result property="user_id" column="userId" />
		<result property="shippingCode" column="shipping_code" />
		<result property="created" column="created" />
		<result property="state" column="state" />
		<result property="actualPay" column="actual_pay" />
		<result property="qbDed" column="qb_ded" />
		<!-- //订单商品表 -->
		<collection property="orderitemList" ofType="OrderItem">
			<id property="itemId" column="item_id" />
			<result property="num" column="num" />
			<result property="price" column="price" />
			<result property="itemId" column="order_item" />
		</collection>
	</resultMap>
	<select id="queryItemDetails" resultMap="q">
		select
		orde_it.num,orde_it.price,orde_it.item_id,orde_it.item_name
		from
		ordera
		orde join order_item orde_it on orde.order_id=orde_it.order_id
		where
		orde.order_id=#{orderId}
	</select>

	<update id="updateState">
		update ordera set state=9 where order_id =#{orderId}
	</update>
	
	 <resultMap type="com.yayiabc.http.mvc.pojo.model.OrderNums" id="lo">
	  <result property="userName" column="name"/>
	   <result property="state" column="state"/>
	    <result property="counts" column="count"/>
	 </resultMap>
	<!-- 查询统计用户订单数 -->
	<select id="queryOrderNums" resultMap="lo">
	   SELECT us.true_name name,orde.state,COUNT(state) count FROM
	    ordera orde JOIN `user` us ON 
	    orde.user_id=us.user_id 
	    WHERE orde.user_id=#{userId}  GROUP BY state
	</select>
</mapper>