<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yayiabc.http.mvc.dao.PlaceOrderDao">

	<select id="buyNows" resultType="com.yayiabc.http.mvc.pojo.jpa.Cart">
		select * from cart where user_id=#{userId}
	</select>
	
	<select id="queryPostFree" resultType="com.yayiabc.http.mvc.pojo.jpa.FreeShipping">
	select * from  free_shipping
	</select>
	
	<select id="query" resultType="com.yayiabc.http.mvc.pojo.jpa.PostFee">
	select * from post_fee
	</select>
	
	<select id="ded" resultType="int">
	 select qb_balance  from user where user_id=#{userId}
	</select>
	
	<select id="queryReceiver" resultType="com.yayiabc.http.mvc.pojo.jpa.Receiver">
	    select * from receiver where receiver_id=#{receiverId}
	</select>
	
	
	
	<insert id="synchronization" parameterType="com.yayiabc.http.mvc.pojo.jpa.Cart">
	  insert into order_item(itm_SKU,item_id,order_id,num,price,item_property_namea
	  ,item_property_nameb,item_property_namec)values(
	   #{cart.itemSKU}, #{cart.itemId},#{orderId},#{cart.num}, #{cart.price},
	    #{cart.itemPropertyNamea},#{cart.itemPropertyNameb},#{cart.itemPropertyNamec}
	  )
	</insert>
	
	<insert id="synchronizationOne" parameterType="com.yayiabc.http.mvc.pojo.jpa.OrderItem">
	 insert into order_item(itm_SKU,item_id,order_id,pic_path,num,price,item_property_namea
	  ,item_property_nameb,item_property_namec)values(
	   #{orderItem.itemSKU}, #{orderItem.itemId},#{orderItem.orderId}, #{orderItem.picPath},
	   #{orderItem.num}, #{orderItem.price},
	    #{orderItem.itemPropertyNamea},#{orderItem.itemPropertyNameb},#{orderItem.itemPropertyNamec})
	</insert>
	
	<!-- //把订单保存到数据库 -->
	<update id="saveMessage" parameterType="com.yayiabc.http.mvc.pojo.jpa.Ordera">
	 <!--   insert into ordera values(
	  #{order.userId},#{order.actualPay},#{order.payType},#{order.postFee},#{order.paymentTime},#{order.consignTime},
	   #{order.endTime},#{order.closeTime},#{order.buyerMessage}#{order.buyerNick},#{order.buyerRate},
	   #{order.state},#{order.shippingName},#{order.shippingCode},#{order.invoiceHand},#{order.isRegister},
	   #{order.giveQb},#{order.refundInfo},#{order.totalFee},#{order.qbDed},#{order.refund},#{order.receiverId}
	   
	   ) -->
	     update ordera 
	     <set>
	      <if test="userId!=null">
	        user_id=#{userId},
	      </if>
	       <if test="actualPay!=null">
	        actual_pay=#{actualPay},
	      </if>
	      <if test="payType!=null">
	        pay_type=#{payType},
	      </if>
	     <if test="postFee!=null">
	        post_fee=#{postFee},
	      </if>
	      <if test="paymentTime!=null">
	       payment_time=#{paymentTime},
	      </if>
	      <if test="consignTime!=null">
	       consign_time=#{consignTime},
	      </if>
	       <if test="closeTime!=null">
	        close_time=#{closeTime},
	      </if>
	      <if test="endTime!=null">
	        end_time=#{endTime},
	      </if>
	      <if test="closeTime!=null">
	        close_time=now(),  
	      </if>
	       <if test="buyerMessage!=null">
	        buyer_message=#{buyerMessage},
	      </if>
	        <if test="buyerNick!=null">
	        buyer_nick=#{buyerNick},
	      </if>
	        <if test="buyerRate!=null">
	        buyer_rate=#{buyerRate},
	      </if>
	        <if test="state!=null">
	        state=#{state},
	      </if>
	        <if test="shippingName!=null">
	        shipping_name=#{shippingName},
	      </if>
	       <if test="shippingCode!=null">
	        shipping_code=#{shippingCode},
	      </if>
	       <if test="invoiceHand!=null">
	        invoice_hand=#{invoiceHand},
	      </if>
	       <if test="isRegister!=null">
	        is_register=#{isRegister},
	      </if>
	       <if test="receiverId!=null">
	        receiver_id=#{receiverId},
	      </if>
	       <if test="giveQb!=null">
	        give_qb=#{giveQb},
	      </if>
	        <if test="refundInfo!=null">
	       refund_info=#{refundInfo},
	      </if>
	        <if test="qbDed!=null">
	        qb_ded=#{qbDed},
	      </if>
	      <if test="refund!=null">
	        refund=#{refund},
	      </if>
	      updated=now()
	     </set>
	     where user_id=#{userId}
	</update>
	
	<delete id="emptyCart">
	  delete from cart where user_id=#{userId}
	</delete>
	
	<insert id="createOrder" parameterType="java.lang.String">
	   insert into ordera(state,order_id,user_id)values(1,#{orderId},#{userId})
	</insert>
	
	
	<!-- //更改地址后 -->
	<select id="upateAddress">
	
	select * from receiver where receiver_id=#{receiverId}
	</select>
</mapper>