<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yayiabc.http.mvc.dao.PlaceOrderDao">

	<select id="buyNows" resultType="com.yayiabc.http.mvc.pojo.jpa.Cart">
		select * from cart
		<where>
			<if test="userId!=null and userId!=''">
				user_id=#{userId} and
			</if>
			<if test="itemSKUs!=null and itemSKUs!=''">
				<foreach collection="itemSKUs" item="sku" open="" close=""
					separator="or">
					item_sku = #{sku}queryLastInvoice
				</foreach>
			</if>
		</where>

	</select>

	<select id="queryPostFree" resultType="com.yayiabc.http.mvc.pojo.jpa.FreeShipping">
		select * from
		free_shipping
	</select>

	<select id="query" resultType="com.yayiabc.http.mvc.pojo.jpa.PostFee">
		select * from post_fee
	</select>

	<select id="ded" resultType="int">
		select (a_qb+c_qb+qb_balance+qb_notwith)
		qb_balance from `user` where
		user_id=#{userId}
	</select>

	<select id="queryReceiver" resultType="com.yayiabc.http.mvc.pojo.jpa.Receiver">
		select * from receiver
		where receiver_id=#{receiverId}
	</select>



	<insert id="synchronization" parameterType="com.yayiabc.http.mvc.pojo.jpa.Cart">
		insert into
		order_item(itm_SKU,item_id,order_id,num,price,item_property_namea
		,item_property_nameb,item_property_namec,created,item_name,pic_path,item_type,
		item_brand_name
		)values(
		#{cart.itemSKU},
		#{cart.itemId},#{orderId},#{cart.num}, #{cart.price},
		#{cart.itemPropertyNamea},#{cart.itemPropertyNameb},#{cart.itemPropertyNamec}
		,now(),#{cart.itemName},#{cart.picPath},#{cart.itemType},#{cart.itemBrandName}
		)
	</insert>

	<insert id="synchronizationOne" parameterType="com.yayiabc.http.mvc.pojo.jpa.OrderItem">
		insert into
		order_item(itm_SKU,item_id,order_id,pic_path,num,price,item_property_namea
		,item_property_nameb,item_property_namec,created)values(
		#{orderItem.itemSKU},
		#{orderItem.itemId},#{orderItem.orderId},
		#{orderItem.picPath},
		#{orderItem.num}, #{orderItem.price},
		#{orderItem.itemPropertyNamea},#{orderItem.itemPropertyNameb},#{orderItem.itemPropertyNamec}
		,now()
		)
	</insert>
  <select id="getUserQbExceptReg" resultType="int">
  
  select (qb_balance+a_qb+c_qb) qb from user where user_id=#{userId}
  </select>
	<!-- //把订单保存到数据库 -->
	<update id="saveMessage" parameterType="com.yayiabc.http.mvc.pojo.jpa.Ordera">
		<!-- insert into ordera values( #{order.userId},#{order.actualPay},#{order.payType},#{order.postFee},#{order.paymentTime},#{order.consignTime}, 
			#{order.endTime},#{order.closeTime},#{order.buyerMessage}#{order.buyerNick},#{order.buyerRate}, 
			#{order.state},#{order.shippingName},#{order.shippingCode},#{order.invoiceHand},#{order.isRegister}, 
			#{order.giveQb},#{order.refundInfo},#{order.totalFee},#{order.qbDed},#{order.refund},#{order.receiverId} 
			) -->
		update ordera
		<set>
			<if test="userId!=null">
				user_id=#{userId},
			</if>
			<if test="actualPay!=null">
				actual_pay=#{actualPay},
			</if>
			<if test="payType!=null">
				pay_type=#{payType},
			</if>
			<if test="postFee!=null">
				post_fee=#{postFee},
			</if>
			<if test="paymentTime!=null">
				payment_time=#{paymentTime},
			</if>
			<if test="consignTime!=null">
				consign_time=#{consignTime},
			</if>
			<if test="closeTime!=null">
				close_time=#{closeTime},
			</if>
			<if test="endTime!=null">
				end_time=#{endTime},
			</if>
			<if test="closeTime!=null">
				close_time=now(),
			</if>
			<if test="buyerMessage!=null">
				buyer_message=#{buyerMessage},
			</if>
			<if test="buyerNick!=null">
				buyer_nick=#{buyerNick},
			</if>
			<if test="buyerRate!=null">
				buyer_rate=#{buyerRate},
			</if>
			<if test="state!=null">
				state=#{state},
			</if>
			<if test="shippingName!=null">
				shipping_name=#{shippingName},
			</if>
			<if test="shippingCode!=null">
				shipping_code=#{shippingCode},
			</if>
			<if test="invoiceHand!=null">
				invoice_hand=#{invoiceHand},
			</if>
			<if test="isRegister!=null">
				is_register=#{isRegister},
			</if>
			<if test="receiverId!=null">
				receiver_id=#{receiverId},
			</if>
			<if test="giveQb!=null">
				give_qb=#{giveQb},
			</if>
			<if test="refundInfo!=null">
				refund_info=#{refundInfo},
			</if>
			<if test="qbDed!=null">
				qb_ded=#{qbDed},
			</if>
			<if test="refund!=null">
				refund=#{refund},
			</if>
			updated=now()
		</set>
		where user_id=#{userId}
	</update>

	<delete id="emptyCart">
		delete from cart where user_id=#{userId}
	</delete>

	<!-- //订单状态，订单id，用户id，钱币抵扣数目，是否奴要发票抬头，是否需要残品注册证，买家留言，订单总价，实际付款，运费，买家是否留言，笨蛋赠送铅笔数， 
		创建时间，买家昵称，买家是否留言 -->
	<insert id="createOrder">
		insert into
		ordera(state, order_id,user_id,qb_ded,invoice_hand,is_register,buyer_message,total_fee,actual_pay
		,post_fee,give_qb,created,receiver_id,refund_info
		<!-- ,buyer_nick,buyer_rate -->

		)
		values(1,#{orderId},#{userId},#{order.qbDed}
		,#{order.invoiceHand},#{order.isRegister},#{order.buyerMessage},#{order.totalFee}
		,#{order.actualPay},#{order.postFee},#{order.giveQb},now(),#{order.receiverId},'否'
		<!-- ,#{order.buyerNick} ,#{order.buyerRate} -->
		)
	</insert>
	<update id="insertActualPay">
		update ordera set actual_pay=#{actualPay} where
		order_id=#{orderId}
	</update>

	<!-- //更改地址后 -->
	<select id="upateAddress">

		select * from receiver where
		receiver_id=#{receiverId}
	</select>
	<!-- //查看钱币赠送百分比 -->
	<select id="queryQbPercentage" resultType="int">
		select item_qb from
		item_value where item_sKU=#{itemSKU}
	</select>

	<select id="queryAttributes" resultType="com.yayiabc.http.mvc.pojo.jpa.ItemValue">
		select * from item_value
		where item_sKU=#{itemSKU}
	</select>

	<select id="queryItemName" resultType="java.lang.String">
		select item_name from
		item_info where item_id=#{itemId}
	</select>

	<select id="queryItemPicPath" resultType="java.lang.String">
		select item_pica from
		item_detail where item_id=#{itemId}
	</select>

	<delete id="cleanCart">
		delete from cart where user_id=#{userId} and
		item_SKU=#{itemSKU}
	</delete>
	<!-- //查询商品库存数量 -->
	<select id="queryItemInventNum" resultType="int">
		select stock_num from
		item_value where item_sKU=#{itemSKU}
	</select>
	<!-- //updateInventNum更改库存数量 -->
	<update id="updateInventNum">
		update item_value set stock_num=(#{NUM})
		where
		item_sKU=#{itemSKU} and stock_num > 0
	</update>

	<select id="queryItemsort" resultType="java.lang.String">
		select item_sort from
		item_info where item_id=#{itemId}
	</select>

	<update id="insertClassItemsSumMoney">
		update ordera set
		supplies_sumprice=#{suppliesSumPrice}
		,tooldevices_sumprice=#{tooldevicesSumPrice}
		where order_id=#{orderId}
	</update>
	<select id="queryItemBrandNameByItemId" resultType="String">
		select
		item_brand_name from item_brand where item_brand_id=
		(select
		item_brand_id from item_info where item_id=#{itemId})
	</select>

	<update id="saveGiveQbNum">
		update ordera set
		give_qb=#{giveQbNum},post_fee=#{postFee},total_fee=#{sumPrice}
		,supplies_sumprice=#{suppliesSumPrice}
		,tooldevices_sumprice=#{tooldevicesSumPrice}
		,actual_pay=#{actualPay}
		where
		order_id=#{orderId}
	</update>

	<update id="saveRefundRecord">
		update item_info set
		refund_num=(refund_num+${refunNum})
		where
		item_id=#{itemId}
	</update>
	<insert id="saveRefundMessageToSaleIncome">
		insert into sale_income
		(sale_id,order_id,refund_money_haocai,refund_money_gongju,created)
		values
		(#{saleId},#{orderId},#{haoCaiRefundSumMoney},#{toolRefundSumMoney},now())
	</insert>
	<!-- private Integer InvoiceId; private String companyName; private Integer 
		taxpayerNum; private String registeredAddress; private Integer registeredPhone; 
		private String opneBank; private String bankNumber; private String stickNanme; 
		private String stickPhone; private String stickaddress; private String invoiceHead; 
		private String orderId; private String invoiceStyle; private String InvoiceState; -->
	<insert id="saveInvoiced" parameterType="com.yayiabc.http.mvc.pojo.jpa.Invoice">

		insert into
		invoice(user_id,company_name,taxpayer_num,registered_address,
		registered_phone,opne_bank,bank_number,stick_nanme,stick_phone,stick_address,order_id
		,invoice_style,invoice_state,invoice_head,c_time
		)
		values(#{userId},#{companyName},#{taxpayerNum},#{registeredAddress},
		#{registeredPhone},#{opneBank},#{bankNumber},#{stickNanme},
		#{stickPhone},#{stickaddress},#{orderId},#{invoiceStyle},#{InvoiceState},#{invoiceHead},now()
		)
	</insert>

	<select id="queryLastInvoice" resultType="com.yayiabc.http.mvc.pojo.jpa.Invoice">
		select * from invoice
		where user_id=#{userId} ORDER BY c_time DESC limit 0,1
	</select>
	<!--双休期间的优化工作 -->
	<select id="queryAttributesList" parameterType="java.util.List"
		resultType="com.yayiabc.http.mvc.pojo.jpa.ItemValue">
		SELECT
		*
		from item_value
		WHERE item_sKU in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item.itemSKU}
		</foreach>
	</select>
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.OrderItem" id="queryOrderA">
		<result property="itemName" column="item_name" />
		<result property="itemType" column="item_sort" />
		<result property="itemBrandName" column="item_brand_name" />
		<result property="picPath" column="item_pica" />
	</resultMap>
	<select id="queryItemIdListByitemValueList" parameterType="java.util.List"
		resultMap="queryOrderA">
		SELECT ii.item_name,ii.item_sort,ii.item_id
		itemid,ib.item_brand_name,id.item_pica
		FROM
		item_info ii JOIN
		item_brand
		ib ON ii.item_brand_id=ib.item_brand_id join
		item_detail id on
		ii.item_id=id.item_id
		WHERE
		<foreach collection="list" index="index" item="item" open="("
			close=")" separator=",">
			ii.item_id in #{item.itemId}
		</foreach>
	</select>
	<!-- 123 最终的 -->
	<resultMap type="com.yayiabc.http.mvc.pojo.model.FinalList"
		id="dadade">
		<id property="itemValueId" column="item_value_id" />
		<result property="itemValueId" column="item_value_id" />
		<result property="itemPropertySixValue" column="item_property_six_value" />
		<result property="itemPropertySixName" column="item_property_six_name" />
		<result property="itemPropertyFiveValue" column="item_property_five_value" />
		<result property="itemPropertyFiveName" column="item_property_five_name" />
		<result property="itemPropertyFourValue" column="item_property_four_value" />
		<result property="itemPropertyFourName" column="item_property_four_name" />
		<result property="itemPropertyThreeValue" column="item_property_three_value" />
		<result property="itemPropertyNameThree" column="item_property_name_three" />
		<result property="itemPropertyTwoValue" column="item_property_two_value" />
		<result property="itemPropertyNameTwo" column="item_property_name_two" />
		<result property="stockNum" column="stock_num" />
		<result property="itemQb" column="item_qb" />
		<result property="itemSkuPrice" column="item_sku_price" />
		<result property="itemSKU" column="item_sKU" />
		<result property="itemId" column="item_id" />
		<result property="itemPropertyName" column="item_property_name" />
		<result property="itemPropertyInfo" column="item_property_info" />
		<result property="itemName" column="item_name"/>
		<result property="itemType" column="item_sort"/>
		<result property="itemBrandName" column="item_brand_name"/>
		<result property="picPath" column="item_pica"/>
		<result property="version" column="version"/>
	</resultMap>
	<select id="queryFinalList" parameterType="java.util.List"
		resultMap="dadade">
		SELECT
		iv.*,ii.item_name,ii.item_sort,ii.item_id
		itemid,ib.item_brand_name,iv.item_sKU,id.item_pica,iv.version

		FROM item_value iv
		JOIN item_info ii ON iv.item_id=ii.item_id join
		item_detail id on
		ii.item_id=id.item_id JOIN item_brand ib ON
		ii.item_brand_id=ib.item_brand_id
		WHERE <!-- iv.item_sKU IN -->
		<foreach collection="list"  index="index" item="item" open="("
			close=")" separator="or">
			iv.item_sKU=#{item.itemSKU}
		</foreach>
	</select>

	<insert id="batchSynchronization" parameterType="java.util.List">
		insert into order_item
		(itm_SKU,item_id,order_id,num,price,item_property_namea
		,item_property_nameb,item_property_namec,created,item_name,pic_path,item_type,
		item_brand_name
		)values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.itemSKU},
			#{item.itemId},#{item.orderId},#{item.num}, #{item.price},
			#{item.itemPropertyNamea},#{item.itemPropertyNameb},#{item.itemPropertyNamec}
			,now(),#{item.itemName},#{item.picPath},#{item.itemType},#{item.itemBrandName}
			)
		</foreach>
	</insert>
	<delete id="cleanCartList" parameterType="java.util.List">
		delete from cart where user_id=#{userId} and item_SKU in
		<foreach item="item" collection="orderItemLists" open="("
			separator="," close=")">
			#{item.itemSKU}
		</foreach>
	</delete>

	<select id="queryAttributesl" parameterType="java.util.List"
		resultType="com.yayiabc.http.mvc.pojo.jpa.ItemValue">
		SELECT
		item_id,item_sku_price
		FROM
		item_value
		<where>
			item_sKU in
			<foreach item="oo" collection="list" separator="," open="("
				close=")" index="">
				#{oo.itemSKU}
			</foreach>
		</where>
	</select>

	<select id="queryItemsortl" parameterType="java.util.List"
		resultType="string">
		SELECT
		item_sort
		FROM
		item_info
		<where>
			item_id in
			<foreach item="oo" collection="list" separator="," open="("
				close=")" index="">
				#{oo.itemId}
			</foreach>
		</where>
	</select>
	<update id="saveRefundRecords" parameterType="java.util.List">

		<foreach collection="list" item="cc" index="index" open=""
			close="" separator=";">
			update item_info
			<set>
				refund_num = refund_num+${cc.refunNum}
			</set>
			where item_id=#{cc.itemId}
		</foreach>
	</update>
	<update id="updateInventNums" parameterType="java.util.List">

		<foreach collection="list" item="cc" index="index" open=""
			close="" separator=";">
			update item_value
			<set>
				stock_num = stock_num-${cc.num},
				version= ${cc.version}
			</set>
			where item_sKU=#{cc.itemSKU} and stock_num-${cc.num}>0 and ${cc.version} <![CDATA[  >  ]]> version
		</foreach>
	</update>
</mapper>