<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yayiabc.http.mvc.dao.PunRewardDao">
	<!-- <resultMap type="com.yayiabc.http.mvc.pojo.jpa.With" id="punReward"> 
		<id property="" column=""/> <result property="" column=""/> <result property="" 
		column=""/> </resultMap> -->

	<select id="show" resultType="java.lang.Double">
		select balance from balance where sale_id=#{saleId}
		order by created desc
	</select>
	<!-- @Param("saleId")String saleId, @Param("balanceIn") Double balance_in, 
		@Param("balanceOut")Double balance_out) -->
	<insert id="addMoney">
		insert into balance(sale_id,balance_in,balance,created,adopt_time,describey)
		values(#{saleId},#{balanceIn},#{balance},now(),now(),'进账管理员增加')
	</insert>
	<insert id="delMoney">
		insert into balance(sale_id,balance_out,balance,created,adopt_time,describey)
		values(#{saleId},#{balanceOut},#{balance},now(),now(),'出账管理员减少')
	</insert>

	<select id="pd" resultType="java.lang.String">
		SELECT describey FROM balance WHERE sale_id=#{saleId}
		ORDER BY created DESC
	</select>
	<select id="shows" resultType="int">
	  select count(0) from balance where  sale_id=#{saleId}
	</select>
</mapper>
