<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.SaleMyClientDao">
	<select id="myClient" resultType="UserStatistics">
		SELECT 
		u.sale_id,
		u.user_id,
		s.bind_user_num,
		u.true_name,
		u.phone,
		c.company_name,
		DATE_FORMAT(u.bind_sale_time, '%Y-%c-%e %T') AS bind_sale_time,
		c.work_address
		FROM `user` u
		LEFT JOIN sale_info s
		ON u.sale_id=s.sale_id
		LEFT JOIN certification c
		ON u.user_id=c.user_id
		LEFT JOIN ordera o
		ON u.user_id = o.user_id
		WHERE  
		u.true_name LIKE '%${value}%' AND u.sale_id =#{saleId} OR 
		u.phone LIKE '%${value}%' AND u.sale_id =#{saleId} OR 
		c.company_name LIKE '%${value}%' AND u.sale_id =#{saleId}
		GROUP BY u.user_id
		<if test="state == 1">
			ORDER BY bind_sale_time DESC
		</if>
		<if test="state == 2">
			ORDER BY o.created DESC
		</if>
		LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT count(0) FROM (
			SELECT 
			count(0)
			FROM `user` u
			LEFT JOIN sale_info s
			ON u.sale_id=s.sale_id
			LEFT JOIN certification c
			ON u.user_id=c.user_id
			LEFT JOIN ordera o
			ON u.user_id = o.user_id
			WHERE  
			u.true_name LIKE '%${value}%' AND u.sale_id =#{saleId} OR 
			u.phone LIKE '%${value}%' AND u.sale_id =#{saleId} OR 
			c.company_name LIKE '%${value}%' AND u.sale_id =#{saleId}
			GROUP BY u.user_id
		) AS a
	</select>
	
	<select id="queryCount" resultType="UserStatistics">
		SELECT 
		IF(COUNT(o.user_id) IS NOT NULL,COUNT(o.user_id),0) AS orderaCount,
		(IF(ROUND(SUM(si.order_money_haocai),2) IS NOT NULL,ROUND(SUM(si.order_money_haocai),2),0)+IF(ROUND(SUM(si.order_money_gongju),2) IS NOT NULL,ROUND(SUM(si.order_money_gongju),2),0))-
		(IF(ROUND(SUM(si.refund_money_gongju),2) IS NOT NULL,ROUND(SUM(si.refund_money_gongju),2),0)+IF(ROUND(SUM(si.refund_money_haocai),2) IS NOT NULL,ROUND(SUM(si.refund_money_haocai),2),0)) AS orderaMoneyCount
		FROM sale_income si
		LEFT JOIN ordera o ON si.order_id=o.order_id
		LEFT JOIN `user` u ON o.user_id=u.user_id
		WHERE si.sale_id=#{saleId} AND si.created  &gt; u.bind_sale_time AND si.order_id IN(SELECT order_id FROM ordera WHERE user_id=#{userId})
	</select>
	
	<select id="getLatelyOrderDate" resultType="String">
		SELECT 
		DATE_FORMAT(created, '%Y-%c-%e %T') AS latelyOrderDate  
		FROM ordera 
		WHERE user_id=#{userId}
		LIMIT 1
	</select>
</mapper>