<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.SaleMyOrderDao">
	
	<select id="chart" resultType="SaleDataVo">
		SELECT 
		SUM(IF(order_money_haocai IS NOT NULL,order_money_haocai,0)+
		IF(order_money_gongju IS NOT NULL,order_money_gongju,0)) AS dayCommission,
		COUNT(order_id) AS dayOrderNum 
		FROM sale_income 
		WHERE sale_id=#{saleId} 
		AND YEAR(created) =#{year}
		AND MONTH(created)=#{month}
		GROUP BY DAY(created)
	</select>
	
	<select id="queryData" resultType="SaleDataVo">
		SELECT 
		SUM(IF(order_money_gongju IS NOT NULL,order_money_gongju,0))+SUM(IF(order_money_haocai IS NOT NULL,order_money_haocai,0)) AS  saleAllMoney,
		SUM(IF(order_money_gongju IS NOT NULL,order_money_gongju,0)) AS haocaiAllMoney,
		SUM(IF(order_money_haocai IS NOT NULL,order_money_haocai,0)) AS gongjuAllMoney,
		COUNT(order_id) AS orderNum
		FROM sale_income
		WHERE sale_id=#{saleId};
	</select>
	
	<select id="allCommission" resultType="String">
		SELECT SUM(IF(balance_in IS NOT NULL,balance_in,0)) AS allCommission
		FROM balance 
		WHERE sale_id=#{saleId};
	</select>
	
	<select id="queryOrderList" resultType="MyOrderVo">
		SELECT
		si.sale_id, 
		o.order_id,
		o.created AS orderCreated,
		u.true_name AS userName,
		u.phone AS userPhone,
		IF(si.order_money_haocai IS NOT NULL,si.order_money_haocai,0)+IF(si.order_money_gongju IS NOT NULL,si.order_money_gongju,0) AS allMoney,
		IF(si.order_money_haocai IS NOT NULL,si.order_money_haocai,0) AS haocaiMoney,
		IF(si.order_money_gongju IS NOT NULL,si.order_money_gongju,0) AS gongjuMoney,
		IF(si.refund_money_gongju IS NOT NULL,si.refund_money_gongju,0)+IF(si.refund_money_haocai IS NOT NULL,si.refund_money_haocai,0) AS refundMoney,
		SUM(IF(si.order_money_haocai IS NOT NULL,si.order_money_haocai,0)+IF(si.order_money_gongju IS NOT NULL,si.order_money_gongju,0))-
		SUM(IF(si.refund_money_gongju IS NOT NULL,si.refund_money_gongju,0)+IF(si.refund_money_haocai IS NOT NULL,si.refund_money_haocai,0)) AS actualMoney
		FROM sale_income si
		LEFT JOIN ordera o  ON o.order_id=si.order_id
		LEFT JOIN USER u ON si.sale_id=u.sale_id
		WHERE si.sale_id=#{saleId}
		GROUP BY si.order_id
		LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCountOrderList" resultType="int">
		SELECT count(0) from (
			SELECT 
			count(0)
			FROM sale_income si
			LEFT JOIN ordera o  ON o.order_id=si.order_id
			LEFT JOIN USER u ON si.sale_id=u.sale_id
			WHERE si.sale_id=#{saleId}
			GROUP BY si.order_id
		) AS a
	</select>
	
	<select id="detail" resultType="OrderVo">
		SELECT 
		u.true_name AS userName,
		u.phone AS userPhone,
		o.created AS orderCreated,
		o.state AS orderState,
		IF(si.order_money_haocai IS NOT NULL,si.order_money_haocai,0) AS orderMoneyHaocai,
		IF(si.order_money_gongju IS NOT NULL,si.order_money_gongju,0) AS orderMoneyGongju,
		IF(si.refund_money_haocai IS NOT NULL,si.refund_money_haocai,0) AS refundMoneyHaocai,
		IF(si.refund_money_gongju IS NOT NULL,si.refund_money_gongju,0) AS refundMoneyGongju,
		IF(si.order_money_haocai IS NOT NULL,si.order_money_haocai,0)-
		IF(si.refund_money_haocai IS NOT NULL,si.refund_money_haocai,0) AS actualMoneyHaocai,
		IF(si.order_money_gongju IS NOT NULL,si.order_money_gongju,0)-
		IF(si.refund_money_gongju IS NOT NULL,si.refund_money_gongju,0) AS actualMoneyGongju 
		FROM sale_income si
		LEFT JOIN ordera o  ON o.order_id=si.order_id
		LEFT JOIN USER u ON si.sale_id=u.sale_id
		WHERE si.sale_id=#{saleId} AND si.order_id=#{orderId}
		GROUP BY si.order_id
	</select>
	
	<select id="detailOrderList" resultType="OrderInfoVo">
		SELECT 
		oi.item_name,
		oi.item_property_namea,
		oi.item_property_nameb,
		oi.item_property_namec,
		oi.price,
		oi.num,
		(oi.price*oi.num) AS total
		FROM ordera o
		LEFT JOIN order_item oi ON o.order_id=oi.order_id
		LEFT JOIN USER u ON o.user_id=u.user_id
		LEFT JOIN sale_income si ON u.sale_id=si.sale_id
		WHERE o.order_id=#{orderId} AND si.sale_id=#{saleId}
		GROUP BY oi.item_name
	</select>
</mapper>