<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.SaleLogDao">
	<select id="getSaleInfoByPhone" resultType="SaleInfo">
		select * from sale_info where phone=#{phone}
	</select>
	
	<insert id="register" parameterType="SaleInfo">
		insert into sale_info(sale_pwd,sale_id,phone,created,updated) values(#{salePwd},#{saleId},#{phone},#{created},#{updated})
	</insert>

	<insert id="addSaleToken">
		insert into sale_token values(#{saleId},#{saleToken})
	</insert>

	<update id="updateSaleToken">
		UPDATE sale_token SET sale_token = #{1} WHERE sale_id = #{0}
	</update>

	<delete id="deleteSaleToken">
		DELETE FROM sale_token WHERE sale_token = #{0}
	</delete>
	
	<select id="getTokenBySaleId" resultType="string">
		select sale_token from sale_token where sale_id=#{saleId}
	</select>
	
	<select id="getSaleIdByToken" resultType="string">
		SELECT sale_id FROM sale_token WHERE sale_token=#{token};
	</select>
	
	<update id="updatePwd">
		update sale_info set sale_pwd=#{password} where sale_id=#{saleId}
	</update>

	<select id="getSaleInfoById" resultType="SaleInfo">
		select * from sale_info where sale_id=#{_parameter}
	</select>

	<select id="getPhoneById">
		SELECT phone FROM sale_info WHERE sale_id = #{_parameter}
	</select>
</mapper>