<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.SaleMyOrderDao">
	
	<select id="chart" resultType="SaleDataVo">
		SELECT
		created,
		IF(ROUND(SUM(order_money_haocai),2) IS NOT NULL,ROUND(SUM(order_money_haocai),2),0)+
		IF(ROUND(SUM(order_money_gongju),2) IS NOT NULL,ROUND(SUM(order_money_gongju),2),0) AS dayCommission,
		COUNT(order_id) AS dayOrderNum 
		FROM sale_income 
		WHERE sale_id=#{saleId} 
		AND YEAR(created) =#{year}
		AND MONTH(created)=#{month}
		GROUP BY DAY(created)
	</select>
	
	<select id="queryData" resultType="SaleDataVo">
		SELECT 
		IF(ROUND(SUM(order_money_gongju),2) IS NOT NULL,ROUND(SUM(order_money_gongju),2),0)+
		IF(ROUND(SUM(order_money_haocai),2) IS NOT NULL,ROUND(SUM(order_money_haocai),2),0) AS saleAllMoney,
		IF(ROUND(SUM(order_money_gongju),2) IS NOT NULL,ROUND(SUM(order_money_gongju),2),0) AS gongjuAllMoney,		
		IF(ROUND(SUM(order_money_haocai),2) IS NOT NULL,ROUND(SUM(order_money_haocai),2),0) AS haocaiAllMoney,	
		COUNT(order_id) AS orderNum
		FROM sale_income
		WHERE sale_id=#{saleId};
	</select>
	
	<select id="allCommission" resultType="String">
		SELECT 
		IF(ROUND(SUM(balance_in),2) IS NOT NULL,ROUND(SUM(balance_in),2),0) AS allCommission
		FROM balance 
		WHERE 
		haocai_money IS NOT NULL 
		AND sale_id=#{saleId}
		OR 
		gongju_money IS NOT NULL 
		AND sale_id=#{saleId} 
	</select>
	
	<select id="queryOrderList" resultType="MyOrderVo">
		SELECT
		si.sale_id, 
		o.order_id,
		o.created AS orderCreated,
		u.true_name AS userName,
		u.phone AS userPhone,
		IF(ROUND(si.order_money_haocai,2) IS NOT NULL,ROUND(si.order_money_haocai,2),0)+IF(ROUND(si.order_money_gongju,2) IS NOT NULL,ROUND(si.order_money_gongju,2),0) AS allMoney,		
		IF(ROUND(si.refund_money_gongju,2) IS NOT NULL,ROUND(si.refund_money_gongju,2),0)+IF(ROUND(si.refund_money_haocai,2) IS NOT NULL,ROUND(si.refund_money_haocai,2),0) AS refundMoney,	
		IF(ROUND(si.order_money_haocai,2) IS NOT NULL,ROUND(si.order_money_haocai,2),0) AS haocaiMoney,
		IF(ROUND(si.order_money_gongju,2) IS NOT NULL,ROUND(si.order_money_gongju,2),0) AS gongjuMoney,
		(IF(ROUND(si.order_money_haocai,2) IS NOT NULL,ROUND(si.order_money_haocai,2),0)+IF(ROUND(si.order_money_gongju,2) IS NOT NULL,ROUND(si.order_money_gongju,2),0))-
		(IF(ROUND(si.refund_money_gongju,2) IS NOT NULL,ROUND(si.refund_money_gongju,2),0)+IF(ROUND(si.refund_money_haocai,2) IS NOT NULL,ROUND(si.refund_money_haocai,2),0)) AS actualMoney
		FROM sale_income si
		LEFT JOIN ordera o  ON o.order_id=si.order_id
		LEFT JOIN USER u ON u.user_id=o.user_id
		WHERE si.sale_id=#{saleId} AND u.bind_sale_time &lt; o.created AND o.state !=0
		GROUP BY si.order_id
		ORDER BY o.created DESC
		LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCountOrderList" resultType="int">
		SELECT count(0) from (
			SELECT 
			count(0)
			FROM sale_income si
			LEFT JOIN ordera o  ON o.order_id=si.order_id
			LEFT JOIN USER u ON si.sale_id=u.sale_id
			WHERE si.sale_id=#{saleId}
			GROUP BY si.order_id
		) AS a
	</select>
	
	<select id="detail" resultType="OrderVo">
		SELECT 
		u.true_name AS userName,
		u.phone AS userPhone,
		o.created AS orderCreated,
		o.state AS orderState,
		IF(ROUND(si.order_money_haocai,2) IS NOT NULL,ROUND(si.order_money_haocai,2),0) AS orderMoneyHaocai,		
		IF(ROUND(si.order_money_gongju,2) IS NOT NULL,ROUND(si.order_money_gongju,2),0) AS orderMoneyGongju,
		IF(ROUND(si.refund_money_haocai,2) IS NOT NULL,ROUND(si.refund_money_haocai,2),0) AS refundMoneyHaocai,		
		IF(ROUND(si.refund_money_gongju,2) IS NOT NULL,ROUND(si.refund_money_gongju,2),0) AS refundMoneyGongju,	
		(IF(ROUND(si.order_money_haocai,2) IS NOT NULL,ROUND(si.order_money_haocai,2),0))-
		(IF(ROUND(si.refund_money_haocai,2) IS NOT NULL,ROUND(si.refund_money_haocai,2),0)) AS actualMoneyHaocai,
		(IF(ROUND(si.order_money_gongju,2) IS NOT NULL,ROUND(si.order_money_gongju,2),0))-
		(IF(ROUND(si.refund_money_gongju,2) IS NOT NULL,ROUND(si.refund_money_gongju,2),0)) AS actualMoneyGongju 	
		FROM sale_income si
		LEFT JOIN ordera o  ON o.order_id=si.order_id
		LEFT JOIN USER u ON si.sale_id=u.sale_id
		WHERE si.sale_id=#{saleId} AND si.order_id=#{orderId}
		GROUP BY si.order_id
	</select>
	
	<select id="detailOrderList" resultType="OrderInfoVo">
		SELECT 
		oi.item_name,
		oi.item_property_namea,
		oi.item_property_nameb,
		oi.item_property_namec,
		oi.price,
		oi.num,
		(oi.price*oi.num) AS total
		FROM ordera o
		LEFT JOIN order_item oi ON o.order_id=oi.order_id
		LEFT JOIN USER u ON o.user_id=u.user_id
		LEFT JOIN sale_income si ON u.sale_id=si.sale_id
		WHERE o.order_id=#{orderId} AND si.sale_id=#{saleId}
		GROUP BY oi.item_name
		LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCountDetailOrderList" resultType="int">
		SELECT count(0) FROM (
			SELECT 
			count(0)
			FROM ordera o
			LEFT JOIN order_item oi ON o.order_id=oi.order_id
			LEFT JOIN USER u ON o.user_id=u.user_id
			LEFT JOIN sale_income si ON u.sale_id=si.sale_id
			WHERE o.order_id=#{orderId} AND si.sale_id=#{saleId}
			GROUP BY oi.item_name
		) AS a
	</select>
</mapper>