<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.SaleIncomeListDao">
	<resultMap type="SaleIncomeVo" id="saleIncomeVoRM">
		<id column="sale_id" property="saleId"/>
		<result column="sale_name" property="saleName"/>
		<result column="sale_phone" property="salePhone"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_phone" property="userPhone"/>
		<result column="get_state" property="getState"/>
		<result column="get_updated" property="getUpdated"/>
		<result column="get_money" property="getMoney"/>
		<result column="sign_late_seven" property="signLateSeven"/>
		<collection property="orderVoList" ofType="OrderVo">
			<id column="order_id" property="orderId"/>
			<result column="order_state" property="orderState"/>
			<result column="sign_updated" property="signUpdated"/>
			<result column="item_name" property="itemName"/>
			<result column="itm_SKU" property="itemSKU"/>
			<result column="price" property="price"/>
			<result column="num" property="num"/>
			<result column="total_fee" property="totalFee"/>
			<result column="refund_money" property="refundMoney"/>
			<result column="commission" property="commission"/>
			<result column="order_created" property="orderCreated"/>
		</collection>
	</resultMap>
	
	<resultMap type="OrderVo" id="orderVoRM">
		<id column="order_id" property="orderId"/>
		<result column="order_state" property="orderState"/>
		<result column="order_created" property="orderCreated"/>
		<association property="saleIncomeVo" javaType="com.yayiabc.http.mvc.pojo.model.SaleIncomeVo">
			<id column="sale_id" property="saleId"/>
			<result column="sale_name" property="saleName"/>
			<result column="user_id" property="userId"/>
			<result column="sale_phone" property="salePhone"/>
			<result column="sign_late_seven" property="signLateSeven"/>
			<result column="get_money" property="getMoney"/>
			<result column="get_state" property="getState"/>
			<result column="get_updated" property="getUpdated"/>
		</association>
	</resultMap>
	
	<select id="query" resultMap="orderVoRM">
		SELECT s.sale_id,u.user_id,s.true_name AS sale_name,s.phone AS sale_phone,o.order_id,o.state AS order_state,
		o.created AS order_created,IF(DATEDIFF(NOW(),o.end_time)&lt;7,2,1) AS sign_late_seven,u.user_id,
		si.get_money,si.get_state,si.updated AS get_updated
		FROM sale_info s
		LEFT JOIN USER u
		ON s.sale_id=u.sale_id
		LEFT JOIN ordera o
		ON u.user_id=o.user_id
		LEFT JOIN sale_income si
		ON o.order_id=si.order_id
		<where>
			<if test="saleId !=null and saleId !=''">
				s.sale_id LIKE '%${saleId}%'
			</if>
			<if test="saleName !=null and saleName !=''">
				AND s.true_name LIKE '%${saleName}%' 
			</if>
			<if test="salePhone !=null and salePhone !=''">
				AND s.phone LIKE '%${salePhone}%'
			</if>
			<if test="orderId !=null and orderId !=''">
				AND o.order_id LIKE '%${orderId}%'
			</if>
			<if test="signLateSeven == 1">
			<![CDATA[	AND DATEDIFF(NOW(),o.end_time) >= 7 ]]>
			</if>
			<if test="signLateSeven == 2">
				AND DATEDIFF(NOW(),o.end_time) &lt; 7
			</if>
			<if test="getState !=null and getState !=''">
				AND si.get_state = #{getState}
			</if>
			<if test="startDate !=null and startDate !=''">
				AND DATE_FORMAT(si.updated,'%Y-%m-%d') <![CDATA[  >=  ]]>#{startDate}
			</if>
			<if test="endDate != null and endDate !=''">
				AND DATE_FORMAT(si.updated,'%Y-%m-%d') <![CDATA[  <=  ]]>#{endDate}
			</if>
		</where>
		GROUP BY o.order_id
		ORDER BY o.created
		LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT count(0) FROM (
			SELECT count(0)
			FROM sale_info s
			LEFT JOIN USER u
			ON s.sale_id=u.sale_id
			LEFT JOIN ordera o
			ON u.user_id=o.user_id
			LEFT JOIN sale_income si
			ON s.sale_id=si.sale_id
			<where>
				<if test="saleId !=null and saleId !=''">
					s.sale_id LIKE '%${saleId}%'
				</if>
				<if test="saleName !=null and saleName !=''">
					AND s.true_name LIKE '%${saleName}%' 
				</if>
				<if test="salePhone !=null and salePhone !=''">
					AND s.phone LIKE '%${salePhone}%'
				</if>
				<if test="orderId !=null and orderId !=''">
					AND o.order_id LIKE '%${orderId}%'
				</if>
				<if test="signLateSeven == 1">
					<![CDATA[	AND DATEDIFF(NOW(),o.end_time) >= 7 ]]>
				</if>
				<if test="signLateSeven == 2">
					AND DATEDIFF(NOW(),o.end_time) &lt; 7
				</if>
				<if test="getState !=null and getState !=''">
					AND si.get_state = #{getState}
				</if>
				<if test="startDate !=null and startDate !=''">
					AND DATE_FORMAT(si.updated,'%Y-%m-%d') <![CDATA[  >=  ]]>#{startDate}
				</if>
				<if test="endDate != null and endDate !=''">
					AND DATE_FORMAT(si.updated,'%Y-%m-%d') <![CDATA[  <=  ]]>#{endDate}
				</if>
			</where>
			GROUP BY o.order_id
		) AS a
	</select>
	
	<resultMap type="SaleIncomeVo" id="saleIncomeRM">
		<id column="sale_id" property="saleId"/>
		<result column="sale_name" property="saleName"/>
		<result column="sale_phone" property="salePhone"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_phone" property="userPhone"/>
		<result column="get_state" property="getState"/>
		<result column="get_updated" property="getUpdated"/>
		<result column="get_money" property="getMoney"/>
	</resultMap>
	
	<select id="detail" resultMap="saleIncomeRM">
		SELECT 
		s.sale_id,
		s.true_name AS sale_name,
		s.phone AS sale_phone, 
		u.user_id,
		u.true_name AS user_name,
		u.phone AS user_phone,
		si.get_state,
		si.updated AS get_updated,
		si.get_money
		FROM sale_info s
		LEFT JOIN USER u
		ON s.sale_id = u.sale_id
		LEFT JOIN sale_income si
		ON s.sale_id =si.sale_id
		WHERE s.sale_id=#{saleId} AND u.user_id=#{userId} AND si.order_id=#{orderId}
	</select>
		
	<resultMap type="OrderVo" id="orderRM">
		<id column="order_id" property="orderId"/>
			<result column="order_state" property="orderState"/>
			<result column="sign_updated" property="signUpdated"/>
			<result column="item_name" property="itemName"/>
			<result column="itm_SKU" property="itemSKU"/>
			<result column="price" property="price"/>
			<result column="num" property="num"/>
			<result column="total_fee" property="totalFee"/>
			<result column="refund_money" property="refundMoney"/>
			<result column="commission" property="commission"/>
			<result column="order_created" property="orderCreated"/>
	</resultMap>	
		
	<select id="orderList" resultMap="orderRM">
		SELECT 
		oi.order_id,
		o.state AS order_state,
		o.updated AS sign_updated,
		oi.item_name,
		oi.itm_SKU,
		oi.price,
		oi.num,
		oi.total_fee,
		r.refund_money,
		id.commission
		FROM order_item oi
		LEFT JOIN ordera o
		ON oi.order_id = o.order_id
		LEFT JOIN item_detail id
		ON oi.item_id=id.item_id
		LEFT JOIN refund r
		ON o.order_id=r.order_id
		WHERE o.user_id=#{userId} AND o.order_id=#{orderId}
		GROUP BY o.order_id
	</select>	
		
</mapper>