<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.SaleLogDao">
	<select id="getSaleInfoByPhone" resultType="SaleInfo">
		select * from sale_info where phone=#{phone}
	</select>
	
	<insert id="register" parameterType="SaleInfo">
		insert into sale_info(sale_pwd,sale_id,phone,created,updated,referrals) values(#{salePwd},#{saleId},#{phone},#{created},#{updated},#{referrals})
	</insert>
	
	<insert id="addSaleToken">
		insert into sale_token(sale_id,sale_token) values(#{saleId},#{saleToken})
	</insert>

	<update id="updateSaleToken">
		UPDATE sale_token SET sale_token = #{1} WHERE sale_id = #{0}
	</update>

	<delete id="deleteSaleToken">
		DELETE FROM sale_token WHERE sale_token = #{0}
	</delete>
	
	<select id="getTokenBySaleId" resultType="string">
		select sale_token from sale_token where sale_id=#{saleId}
	</select>
	
	<select id="getSaleIdByToken" resultType="string">
		SELECT sale_id FROM sale_token WHERE sale_token=#{token};
	</select>
	
	<update id="updatePwd">
		update sale_info set sale_pwd=#{password} where sale_id=#{saleId}
	</update>

	<insert id="appRegister" >
		insert into sale_info(sale_id,sale_pwd,true_name,id_card,birthday,phone,sex,address,we_char,email,part,education,work_unit,work_position,referrals,created,updated)
		VALUES(#{saleId},#{salePwd},#{trueName},#{idCard},#{birthday},#{phone},#{sex},#{address},#{weChar},#{email},#{part},#{education},#{workUnit},#{workPosition},#{referrals},now()now())
	</insert>
</mapper>