<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.SaleListDao">
	<resultMap type="SaleInfo" id="saleInfoRM">
		<id column="sale_id" property="saleId"/>
		<result column="true_name" property="trueName"/>
		<result column="phone" property="phone"/>
		<result column="created" property="created"/>
		<result column="isBindUser" property="isBindUser"/>
		<result column="bind_user_num" property="bindUserNum"/>
	</resultMap>

	<select id="query" resultMap="saleInfoRM">
		SELECT sale_id,true_name,phone,created,IF(bind_user_num IS NOT NULL,1,2) AS isBindUser,bind_user_num 
		FROM sale_info  
		<where>
			<if test="saleId !=null and saleId !=''">
				sale_id LIKE '%${saleId}%'
			</if>
			<if test="phone !=null and phone !=''">
				AND phone LIKE '%${phone}%'
			</if>
			<if test="trueName !=null and trueName !=''">
				AND true_name LIKE '%${trueName}%'
			</if>
			<if test="isBindUser ==1">
				AND bind_user_num IS NOT NULL
			</if>
			<if test="isBindUser ==2">
				AND bind_user_num IS NULL
			</if>
		</where>
		LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT count(*)
		FROM sale_info  
		<where>
			<if test="saleId !=null and saleId !=''">
				sale_id LIKE '%${saleId}%'
			</if>
			<if test="phone !=null and phone !=''">
				AND phone LIKE '%${phone}%'
			</if>
			<if test="trueName !=null and trueName !=''">
				AND true_name LIKE '%${trueName}%'
			</if>
			<if test="isBindUser ==1">
				AND bind_user_num IS NOT NULL
			</if>
			<if test="isBindUser ==2">
				AND bind_user_num IS NULL
			</if>
		</where>
	</select>
</mapper>