<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.ShippingAddressDao">


	<!-- 新增用户收货地址 receiver_name收货人姓名 province 省份 county县 receiver_detail详细地址 -->

	<insert id="addUserAddress">
		<if test="receiver != null">
			insert into
			receiver(signs,user_id,receiver_name,province,city,county,receiver_detail,phone,is_default,created,updated,landline_number)
			values(1,
			#{receiver.userId},#{receiver.receiverName},#{receiver.province},#{receiver.city},#{receiver.county},#{receiver.receiverDetail}
			,#{receiver.phone},#{receiver.isDefault},now(),now(),#{receiver.landlineNumber}
			)
			
		</if>
	</insert>



	<update id="updateUserAddress" parameterType="com.yayiabc.http.mvc.pojo.jpa.Receiver">
		update receiver
		<set>

			receiver_name=#{receiver.receiverName},


			province=#{receiver.province},


			city=#{receiver.city},


			county=#{receiver.county},


			receiver_detail=#{receiver.receiverDetail},


			phone=#{receiver.phone},


			is_default=#{receiver.isDefault},
			
             landline_number=#{receiver.landlineNumber}
		</set>

		<where>
			<if test="receiver.userId !=NULL">
				user_id = #{receiver.userId}
			</if>

			<if test="receiver.receiverId !=NULL">

				and receiver_id =#{receiver.receiverId}
			</if>
		</where>

          


	</update>

	<!-- 0为已经未默认 1已经默认 -->
	<select id="addConditions" resultType="int">
		SELECT receiver_id FROM receiver WHERE
		<if test="userId!=null">
			user_id =#{userId} and
		</if>
		 is_default= true and  signs=1
	</select>

	<update id="updateIsdefault">
		UPDATE receiver SET is_default=false WHERE receiver_id=${receiverId}
	</update>

	<!-- 根据电话号码查询出当前登录人id -->
	<sql id="findUserId">
		=(select user_id from user where phone= #{newPhone} )
	</sql>


	<!-- 显示收货地址 -->
	<select id="showShoppingAddress" resultType="com.yayiabc.http.mvc.pojo.jpa.Receiver">
		SELECT * FROM receiver where user_id =#{userId} and signs=1 
	</select>

	<!-- 删除收货地址 -->
	<update id="deleteShoppingAddress">
	    update  receiver set signs=0 where receiver_id=#{receiverId}
	</update>
	<!-- <delete id="deleteShoppingAddress">
      delete  from receiver where receiver_id=#{receiverId}
	</delete> -->
	
	<select id="queryShoppingAddress" resultType="com.yayiabc.http.mvc.pojo.jpa.Receiver">
	  select * from receiver  where  receiver_id=#{receiverId} and signs=1
	</select>
</mapper>  