<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
<mapper namespace="com.yayiabc.http.mvc.dao.UserMyQbDao">
	<insert id="add" parameterType="QbRecord">
		INSERT INTO qb_record(user_id,qb_rget,qb_rout,qb_time,remark,created,updated)
		VALUE(#{userId},#{qbRget},#{qbRout},NOW(),#{remark},NOW(),NOW());
	</insert>
	
	<resultMap type="QbRecord" id="qbRecordRM">
		<id column="qb_rid" property="qbRid"/>
			<result column="qb_rget" property="qbRget"/>
			<result column="qb_rout" property="qbRout"/>
			<result column="qb_time" property="qbTime"/>
			<result column="remark" property="remark"/>
		<association property="user" javaType="com.yayiabc.http.mvc.pojo.jpa.User">
			<id column="user_id" property="userId"/>
			<result column="phone" property="phone"/>
			<result column="qb_balance" property="qbBalance"/>
		</association>
	</resultMap>
	
	<select id="query" resultMap="qbRecordRM">
		SELECT q.qb_rid,u.phone,q.qb_rget,q.qb_rout,q.qb_time,q.remark,u.qb_balance
		FROM qb_record q
		LEFT JOIN USER u
		ON u.user_id=q.user_id
         <where>
         	<if test="userId !=null and userId !=''">
         		q.user_id='${userId}'
         	</if>
         	<if test="type ==2 and type !=null and type != ''">
         		and q.qb_rget !='' 
         	</if>
         	<if test="type ==3 and type !=null and type != ''">
         		and q.qb_rout !='' 
         	</if>
         </where>
         ORDER BY q.qb_time DESC
         LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT COUNT(*)
        FROM qb_record qb
        LEFT JOIN USER u ON qb.user_id = u.user_id
        WHERE qb.user_id='${userId}';
	</select>
</mapper>        