<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
<mapper namespace="com.yayiabc.http.mvc.dao.UserMyQbDao">
	<insert id="add" parameterType="QbRecord">
			INSERT INTO qb_record(user_id,qb_rget,qb_rout,qb_time,qb_balances,remark,created,millisecond)
			VALUE(#{userId},#{qbRget},#{qbRout},NOW(),#{qbBalances},#{remark},NOW(),#{millisecond});
	</insert>
	
	<resultMap type="QbRecord" id="qbRecordRM">
		<id column="qb_rid" property="qbRid"/>
			<result column="qb_rget" property="qbRget"/>
			<result column="qb_rout" property="qbRout"/>
			<result column="qb_time" property="qbTime"/>
			<result column="remark" property="remark"/>
		<association property="user" javaType="com.yayiabc.http.mvc.pojo.jpa.User">
			<id column="user_id" property="userId"/>
			<result column="qb_balance" property="qbBalance"/>
		</association>
	</resultMap>
	
	<select id="query" resultMap="qbRecordRM">
		SELECT q.qb_rid,q.qb_rget,q.qb_rout,q.qb_time,q.remark,u.qb_balance
		FROM qb_record q
		LEFT JOIN USER u
		ON u.user_id=q.user_id
        where q.user_id=#{userId} 
        ORDER BY q.qb_time DESC,q.millisecond DESC 
        LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT count(0)
		FROM qb_record q
		LEFT JOIN USER u
		ON u.user_id=q.user_id
        where q.user_id=#{userId}; 
	</select>
	
	<select id="updateUserQb">
		UPDATE user 	
		SET	qb_balance=qb_balance+#{qbNum}
		WHERE user_id=#{userId};
	</select>
	
	<select id="queryQbbalance" resultType="java.lang.Integer">
		SELECT qb_balance FROM USER WHERE user_id = #{userId};
	</select>
</mapper>        