<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.UserStatisticsDao">
	<select id="query" resultType="UserStatistics">
		SELECT u.user_id,u.phone,u.true_name,o.updated 
		FROM USER u 
		LEFT JOIN ordera o 
		ON u.user_id=o.user_id
		<where>
			<if test="phone !=null and phone !=''">
				u.phone LIKE '%${phone}%'
			</if>
			<if test="trueName !=null and trueName !=''">
				AND u.true_name LIKE '%${trueName}%' 
			</if>
			<if test="startDate !=null and startDate !='' and endDate !=null and endDate !=''">
				AND o.updated BETWEEN #{startDate}  AND #{endDate}
			</if>
		</where>
			GROUP BY o.user_id DESC
            LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT count(0) 
		FROM USER u 
		LEFT JOIN ordera o 
		ON u.user_id=o.user_id
		<where>
			<if test="phone !=null and phone !=''">
				u.phone LIKE '%${phone}%'
			</if>
			<if test="trueName !=null and trueName !=''">
				AND u.true_name LIKE '%${trueName}%' 
			</if>
			<if test="startDate !=null and startDate !='' and endDate !=null and endDate !=''">
				AND o.updated BETWEEN #{startDate}  AND #{endDate}
			</if>
		</where>
	</select>
	
	<select id="queryCount" resultType="UserStatistics">
		SELECT
		IF(COUNT(user_id) IS NOT NULL,COUNT(user_id),0) AS orderaCount,
		IF(SUM(actual_pay) IS NOT NULL,SUM(actual_pay),0) AS orderaMoneyCount,
		updated AS latelyOrderDate 
		FROM ordera 
		WHERE user_id=#{userId} 
		<if test="startDate !=null and startDate !='' and endDate !=null and endDate !=''">
			AND updated BETWEEN #{startDate}  AND #{endDate}
		</if>
		ORDER BY updated DESC  
		LIMIT 1
	</select>
</mapper>