<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.UserQbListDao">	
	<resultMap type="QbRecord" id="qbRecordListRM">
		<id column="qb_rid" property="qbRid"/>
			<result column="qb_rget" property="qbRget"/>
			<result column="qb_rout" property="qbRout"/>
			<result column="qb_time" property="qbTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
			<result column="qb_balances" property="qbBalances"/>
			<result column="remark" property="remark"/>
		<association property="user" javaType="com.yayiabc.http.mvc.pojo.jpa.User">
			<id column="user_id" property="userId"/>
			<result column="phone" property="phone"/>
			<result column="qb_balance" property="qbBalance"/>
		</association>
	</resultMap>
	
	<select id="list" resultMap="qbRecordListRM">
		SELECT q.qb_rid,u.phone,q.qb_rget,q.qb_rout,q.qb_time,q.remark,q.qb_balances
		FROM qb_record q
		LEFT JOIN USER u
		ON u.user_id=q.user_id
		<where>
			<if test="phone !=null and phone !=''">
				u.phone LIKE '%${phone}%'
			</if>
			<if test="startDate !=null and startDate !=''">
				AND DATE_FORMAT(q.qb_time,'%Y-%m-%d') <![CDATA[  >=  ]]>#{startDate}
			</if>
			<if test="endDate != null and endDate !=''">
				AND DATE_FORMAT(q.qb_time,'%Y-%m-%d') <![CDATA[  <=  ]]>#{endDate}
			</if>
		</where>
		ORDER BY q.qb_time DESC
        LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT COUNT(0) 
		FROM qb_record q
		LEFT JOIN USER u
		ON u.user_id=q.user_id
		<where>
			<if test="phone !=null and phone !=''">
				u.phone LIKE '%${phone}%'
			</if>
			<if test="startDate !=null and startDate !=''">
				AND DATE_FORMAT(q.qb_time,'%Y-%m-%d') <![CDATA[  >=  ]]>#{startDate}
			</if>
			<if test="endDate != null and endDate !=''">
				AND DATE_FORMAT(q.qb_time,'%Y-%m-%d') <![CDATA[  <=  ]]>#{endDate}
			</if>
		</where>
	</select>
	
	<select id="queryQb" resultType="java.lang.Integer">
		SELECT qb_balance FROM USER WHERE phone = #{userPhone};
	</select>
	
	<select id="queryQbBalances" resultType="java.lang.Integer">
		SELECT qb_balances FROM qb_record WHERE user_id = #{userId}
		ORDER BY qb_time DESC LIMIT 1
	</select>
	
	<update id="update">
		UPDATE user 
		set
		qb_balance=#{qbBalance}
		WHERE phone=#{phone};
	</update>
</mapper>