<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.UserCertificationListDao">
	<resultMap type="User" id="userCertificationListRM">
		<id column="user_id" property="userId"/>
		<result column="phone" property="phone"/>
		<result column="true_name" property="trueName"/>
		<association property="certification" javaType="com.yayiabc.http.mvc.pojo.jpa.Certification">
			<id column="user_id" property="userId"/>
			<result column="type" property="type"/>
			<result column="company_name" property="companyName"/>
			<result column="part" property="part"/>
			<result column="work_address" property="workAddress"/>
			<result column="doctor_pic" property="doctorPic"/>
			<result column="state" property="state"/>
			<result column="fail_reason" property="failReason"/>
			<result column="medical_license" property="medicalLicense"/>
			<result column="business_license" property="businessLicense"/>
			<result column="tax_registration" property="taxRegistration"/>
			<result column="opening_permit" property="openingPermit"/>
			<result column="radiological_permit" property="radiologicalPermit"/>
			<result column="id_card_positive" property="idCardPositive"/>
			<result column="id_card_otherside" property="idCardOtherside"/>
		</association>
	</resultMap>
	
	<select id="list" resultMap="userCertificationListRM">
		SELECT 
		c.user_id,
		u.phone,
		u.true_name,
		c.type,
		c.company_name,
		c.part,
		c.work_address,
		c.state
		FROM `user` u
		LEFT JOIN certification c
		ON c.user_id=u.user_id	
		<where>
			<if test="phone !=null and phone !=''">
				u.phone LIKE '%${phone}%'
			</if>
			<if test="trueName !=null and trueName !=''">
				AND u.true_name LIKE '%${trueName}%'
			</if>
			<if test="companyName !=null and companyName !=''">
				AND c.company_name  LIKE '%${companyName}%'
			</if>
			<if test="type !=null and type !=''">
				AND c.type=#{type}
			</if>
			<if test="state !=null and state !=''">
				AND c.state=#{state}
			</if>
			<if test="type == 1">
				AND c.doctor_pic!=''
				AND c.type!=''
			</if>
			<if test="type == 2">
				AND c.type!=''
				AND c.medical_license!=''
				AND c.business_license!=''
				AND c.tax_registration!=''
			</if>
		</where>
		GROUP BY c.user_id	
		ORDER BY c.created DESC
        LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>

	<select id="detail" resultType="Certification">
		SELECT
		user_id,
		type,
		state,
		fail_reason,
		doctor_pic,
		medical_license,
		business_license,
		tax_registration,
		opening_permit,
		radiological_permit,
		id_card_positive,
		id_card_otherside
		FROM certification
		WHERE user_id=#{userId}
	</select>

	<select id="getCount" resultType="int">
		SELECT count(0) FROM (
			SELECT count(0)
			FROM certification c
			LEFT JOIN `user` u
			ON c.user_id=u.user_id	
			<where>
				<if test="phone !=null and phone !=''">
					u.phone LIKE '%${phone}%'
				</if>
				<if test="trueName !=null and trueName !=''">
					AND u.true_name LIKE '%${trueName}%'
				</if>
				<if test="companyName !=null and companyName !=''">
					AND c.company_name  LIKE '%${companyName}%'
				</if>
				<if test="type !=null and type !=''">
					AND c.type=#{type}
				</if>
				<if test="state !=null and state !=''">
					AND c.state=#{state}
				</if>
				<if test="type == 1">
					AND c.doctor_pic!=''
					AND c.type!=''
				</if>
				<if test="type == 2">
					AND c.type!=''
					AND c.medical_license!=''
					AND c.business_license!=''
					AND c.tax_registration!=''
				</if>
			</where>
			GROUP BY c.user_id
			) AS a
	</select>
	
	<update id="verify">
		UPDATE certification 
		<set>
			<if test="state !=null and state !=''">
				state=#{state},
			</if>
				fail_reason=#{failReason}
		</set>
		WHERE user_id=#{userId}
	</update>
	
	<update id="verifyFail">
		UPDATE certification 
		SET
		judge=0
		<!-->type=NULL,
		company_name=NULL,
		part=NULL,
		doctor_pic=NULL,
		work_address=NULL,
		medical_license=NULL,
		business_license=NULL,
		tax_registration=NULL,
		opening_permit=NULL,
		radiological_permit=NULL,
		id_card_positive=NULL,
		id_card_otherside=NULL<-->
		WHERE user_id=#{userId};
	</update>
</mapper>        