<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
<mapper namespace="com.yayiabc.http.mvc.dao.UserMyQbDao">
	<insert id="add" parameterType="QbRecord">
			INSERT INTO qb_record(user_id,qb_rget,qb_rout,qb_time,remark,created,millisecond)
			VALUE(#{userId},#{qbRget},#{qbRout},NOW(),#{remark},NOW(),#{millisecond});
	</insert>
	
	<resultMap type="QbRecord" id="qbRecordRM">
		<id column="qb_rid" property="qbRid"/>
			<result column="qb_rget" property="qbRget"/>
			<result column="qb_rout" property="qbRout"/>
			<result column="qb_time" property="qbTime"/>
			<result column="remark" property="remark"/>
		<association property="user" javaType="com.yayiabc.http.mvc.pojo.jpa.User">
			<id column="user_id" property="userId"/>
			<result column="qb_balance" property="qbBalance"/>
		</association>
	</resultMap>
	
	<select id="query" resultMap="qbRecordRM">
		SELECT q.qb_rid,q.qb_rget,q.qb_rout,DATE_FORMAT(q.qb_time,
		'%Y-%m-%d %H:%i:%S') qb_time,q.remark,(u.qb_balance+u.a_qb+u.b_qb+u.c_qb)  qb_balance
		FROM qb_record q
		LEFT JOIN `user` u
		ON u.user_id=q.user_id
        where q.user_id=#{userId} 
        ORDER BY q.qb_time DESC,q.millisecond DESC 
        LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT count(0)
		FROM qb_record q
		LEFT JOIN `user` u
		ON u.user_id=q.user_id
        where q.user_id=#{userId}; 
	</select>
	<update id="updateUserQb">
		UPDATE `user` 	
		SET	${qbType}=${qbType}+${qbNum}
		WHERE user_id=#{userId};
	</update>
	
	<select id="queryQbbalance" resultType="java.lang.Integer">
		SELECT ${qbType} FROM `user` WHERE user_id = #{userId}
	</select>
	
		
	<update id="updateDataToUser" parameterType="java.util.List">
	<foreach collection="list" item="nn" index="index" open=""
			close="" separator=";">
			update user
			<set>
			<if test="index==0">
			qb_balance = ${nn},
			</if>
			<if test="index==1">
			a_qb = ${nn},
			</if>
			<if test="index==2">
			b_qb = ${nn},
			</if>
			<if test="index==3">
			c_qb = ${nn}
			</if>
			</set>
			where user_id=#{userId}
		</foreach>
	</update>
	<insert id="addMessageQbQ" parameterType="java.util.List">
	  INSERT INTO qb_record(user_id,qb_rout,qb_time,remark,created,millisecond)
			VALUE(#{userId},#{dedNums},now(),#{message},NOW(),#{millisecond});
	</insert>
	
	
	<insert id="addMessageQbQRget" parameterType="java.util.List">
	  INSERT INTO qb_record(user_id,qb_rget,qb_time,remark,created,millisecond)
			VALUE(#{userId},#{dedNums},now(),#{message},NOW(),#{millisecond});
	</insert>
</mapper>        