<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.UserWithdrawalsDao">


	<insert id="submit">
		insert into
		user_with(a_type,c_type,give_type,created,wit_type,account_holder,card_number,o_bank,user_id)
		values(
		#{aType},#{cType},#{giveType},now(),#{witType},#{accountHolder},#{cardNumber},#{oBank},#{userId}
		)
	</insert>

	<update id="updateUserQb">
		update user
		<set>
			<if test="aType!=null and aType!='' and aType!=0">
				a_qb=a_qb-#{aType},
			</if>
			
			<if test="cType!=null and cType!='' and cType!=0">
				c_qb=c_qb-#{cType},
			</if>
			<if test="giveType!=null and giveType!='' and giveType!=0">
				qb_balance=qb_balance-#{giveType}
			</if>
		</set>
		where user_id=#{userId}
	</update>


	<select id="queryCount" resultType="int">
		SELECT
		count(1)
		FROM
		`user` us JOIN
		user_with uw ON uw.user_id=us.user_id
		<where>
			<if test="nameOrPhone!=null and nameOrPhone!=''">
				#{nameOrPhone} in (us.true_name,us.phone)
			</if>
			<if test="sign!=null and sign!=''">
				uw.sign=#{sign}
			</if>
		</where>
	</select>
	<!-- 12 hm.put("nameOrPhone", nameOrPhone); hm.put("sign", sign); hm.put("currentPage", 
		currentPage); hm.put("numberPerpage", numberPerpage); hm.put("orderCTime", 
		orderCTime); hm.put("orderETime", orderETime); -->


	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.User" id="cctvt">
		<id property="userId" column="user_id" />
		<result property="trueName" column="true_name" />
		<result property="phone" column="phone" />
		<collection property="userWithList"
			ofType="UserWith">
			<id property="withId" column="with_id" />
			<result property="witType" column="wit_type" />
			<result property="accountHolder" column="account_holder" />
			<result property="cardNumber" column="card_number" />
			<result property="oBank" column="o_bank" />
			<result property="aType" column="a_type" />
			<result property="cType" column="c_type" />
			<result property="giveType" column="give_type" />
			<result property="created" column="created" />
			<result property="determineTime" column="determine_time" />
			<result property="sign" column="sign" />
		</collection>
	</resultMap>
	<select id="show" resultMap="cctvt">
		SELECT
		 us.user_id,us.true_name,us.phone,uw.wit_type,uw.account_holder,uw.card_number,uw.o_bank,
		 uw.with_id,uw.a_type,uw.c_type,uw.give_type,uw.created,uw.determine_time,uw.sign
		FROM
		`user` us JOIN
		user_with uw ON uw.user_id=us.user_id
		<where>
			<if test="nameOrPhone!=null and nameOrPhone!=''">
				#{nameOrPhone} in (us.true_name,us.phone)
			</if>
			<if test="sign!=null and sign!=''">
				uw.sign=#{sign}
			</if>
		</where>
		order by uw.created desc limit ${currentNum} ,${numberPerpage}
	</select>
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.UserWith" id="vvx">
		<id property="withId" column="with_id" />
		<result property="userId" column="user_id" />
		<result property="aType" column="atype" />
		<result property="cType" column="ctype" />
		<result property="giveType" column="give_type" />
		<result property="sign" column="sign" />
	</resultMap>
	<select id="queryFourQb" resultMap="vvx">
		select with_id,user_id,
		a_type,c_type,give_type,sign from user_with where
		with_id=#{withId}
	</select>

	<update id="determine">
		update user_with set
		sign=#{sign},determine_time=now()
		where with_id=#{withId}
	</update>


	<!-- 检查用户是否设置过提现类型 -->
	<select id="queryIsSetUp" resultType="int" parameterType="java.lang.String">
		select
		count(1) from cash_withdrawal_type where user_id=#{userId}
	</select>

	<update id="updateWitType">
		update cash_withdrawal_type set
		account_holder=#{accountHolder},card_number=#{cardNumber},create_time=now(),
		wit_type=#{witType},o_bank=#{oBank}
		where user_id=#{userId}
	</update>
	<insert id="insertWitType">
		insert into
		cash_withdrawal_type(user_id,wit_type,account_holder,card_number,o_bank,create_time)
		values(#{userId},#{witType},#{accountHolder},#{cardNumber},#{oBank},NOW())
	</insert>

	<!-- 显示提设置信息 -->
	<select id="witSetUpShow" resultType="com.yayiabc.http.mvc.pojo.jpa.UserWitSetUp">
		SELECT * FROM
		cash_withdrawal_type WHERE user_id=(SELECT MAX(user_id) FROM
		cash_withdrawal_type WHERE user_id=#{userId})
	</select>
	<select id="queryWitSign" resultType="java.lang.Integer">
		SELECT sign FROM user_with WHERE user_id=#{userId} ORDER BY created DESC
		LIMIT 0,1
	</select>
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.User" id="qwaz">
		<result property="aQb" column="a_qb" />
		<result property="cQb" column="c_qb" />
		<result property="qbBalance" column="qb_balance" />
		<result property="phone" column="phone" />
	</resultMap>
	<select id="showUserQbNum" resultMap="qwaz">
		select a_qb,c_qb,qb_balance,phone from user where user_id=#{userId}
	</select>
	
	<select id="latelyWithRecord" resultType="com.yayiabc.http.mvc.pojo.jpa.UserWith">
	 select * from user_with where  user_id=#{userId} order by created    DESC limit 0,1
	</select>
	
	<resultMap type="com.yayiabc.http.mvc.pojo.model.UserWithExtend" id="withHornPrompt">
	 <result column="true_name" property="trueName"/>
	  <result column="phone" property="phone"/>
	   <result column="with_money" property="withMoney"/>
	</resultMap>
	<select id="withHornPrompt" resultMap="withHornPrompt">
	 select us.true_name,us.phone,(uw.a_type+uw.c_type) with_money from user_with uw join `user` us on uw.user_id=us.user_id
	 where uw.sign=2  limit 0,99
	</select>
</mapper>       