<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.UserQbListDao">
	<resultMap type="QbRecord" id="qbRecordListRM">
		<id column="qb_rid" property="qbRid" />
		<result column="qb_rget" property="qbRget" />
		<result column="qb_rout" property="qbRout" />
		<result column="qb_time" property="qbTime" />
		<result column="qb_balances" property="qbBalances" />
		<result column="remark" property="remark" />
		<association property="user" javaType="com.yayiabc.http.mvc.pojo.jpa.User">
			<id column="user_id" property="userId" />
			<result column="phone" property="phone" />
			<result column="a_qb" property="aQb" />
			<result column="c_qb" property="cQb" />
			<result column="qb_balance" property="qbBalance" />
		</association>
	</resultMap>

	<select id="list" resultMap="qbRecordListRM">
		SELECT q.qb_rid,u.phone,q.qb_rget,q.qb_balances,q.qb_rout,DATE_FORMAT(q.qb_time,
		'%Y-%c-%e %T') AS qb_time,q.remark,u.qb_balance,u.a_qb,u.c_qb
		FROM qb_record q
		LEFT JOIN `user` u
		ON u.user_id=q.user_id
		<where>
			<if test="phone !=null and phone !=''">
				u.phone LIKE '%${phone}%'
			</if>
			<if test="startDate !=null and startDate !=''">
				AND DATE_FORMAT(q.qb_time,'%Y-%m-%d') <![CDATA[  >=  ]]>#{startDate}
			</if>
			<if test="endDate != null and endDate !=''">
				AND DATE_FORMAT(q.qb_time,'%Y-%m-%d') <![CDATA[  <=  ]]>#{endDate}
			</if>
		</where>
		ORDER BY q.qb_time DESC,q.millisecond DESC
		LIMIT
		${page.currentNumber},${page.numberPerPage}
	</select>

	<select id="getCount" resultType="int">
		SELECT COUNT(0)
		FROM qb_record q
		LEFT JOIN `user` u
		ON
		u.user_id=q.user_id
		<where>
			<if test="phone !=null and phone !=''">
				u.phone LIKE '%${phone}%'
			</if>
			<if test="startDate !=null and startDate !=''">
				AND DATE_FORMAT(q.qb_time,'%Y-%m-%d') <![CDATA[  >=  ]]>#{startDate}
			</if>
			<if test="endDate != null and endDate !=''">
				AND DATE_FORMAT(q.qb_time,'%Y-%m-%d') <![CDATA[  <=  ]]>#{endDate}
			</if>
		</where>
	</select>

	<select id="queryQb" resultType="java.lang.Integer">
		SELECT ${qbType} FROM `user`
		WHERE phone = #{userPhone};
	</select>

	<select id="queryQbBalances" resultType="java.lang.Integer">
		SELECT qb_balances FROM
		qb_record WHERE user_id = #{userId}
		ORDER BY qb_time DESC,millisecond
		DESC LIMIT 1
	</select>

	<update id="updateAdd">
		UPDATE `user`
		set
		${qbType}=${qbType}+${qbBalance}
		WHERE phone=${phone};
	</update>
	<update id="updateDed">
		UPDATE `user`
		set
		${qbType}=${qbType}-${qbBalance}
		WHERE phone=#{phone}
		and
		${qbType}-${qbBalance} <![CDATA[  >=  ]]>
		0;

	</update>

	<select id="queryCount" resultType="int">
		select count(1) from qb_record qr join user us on
		qr.user_id=us.user_id join charge ch on qr.charge_id=ch.charge_id
		<where>
			<if test="userMessage!=null and userMessage!=''">
				#{userMessage} in (us.true_name,us.phone)
			</if>
			<if test="qbType!=null and qbType!=''">
				and qr.remark like '%${qbType}%'
			</if>
			<if test="payType!=null and payType!=''">
				and qr.referer=#{payType}
			</if>
			<if test="orderCTime !=null and orderCTime !=''">
				and DATE_FORMAT(qr.created,'%Y-%m-%d') <![CDATA[  >=  ]]>#{orderCTime}
			</if>
			<if test="orderETime !=null and orderETime !=''">
				and DATE_FORMAT(qr.created,'%Y-%m-%d') <![CDATA[  <=  ]]>#{orderETime}
			</if>
		</where>
	</select>


	
	
	<resultMap type="com.yayiabc.http.mvc.pojo.model.qbRecordModel"
		id="qbListMaps">
		<result property="trueName" column="true_name" />
		<result property="phone" column="phone" />
		<result property="created" column="created" />
		<result property="qbTime" column="qb_time"/>
		<result property="chargeId" column="charge_id"/>
		<result property="qbRid" column="qb_rid"/>
		<result property="userId" column="user_id"/>
		<result property="qbRget" column="qb_rget"/>
		<result property="referer" column="referer" />
		<result property="remark" column="remark"/>
		<result property="millisecond" column="millisecond"/>
		<result property="qbBalances" column="qb_balances"/>
		<result property="rechargeMoney" column="money"/>
	</resultMap>
	<select id="queryQbRecord" resultMap="qbListMaps">
		select us.true_name,us.phone,qr.qb_rget,qr.referer,qr.created,qr.qb_time,ch.charge_id,qr.qb_rid,qr.remark,qr.millisecond,qr.qb_balances
		,ch.money
		from qb_record qr join user us on
		qr.user_id=us.user_id join charge ch
		on qr.charge_id=ch.charge_id
		<where>
		
			<if test="qbType!=null and qbType!=''">
				and qr.remark like '%${qbType}%'
			</if>
			<if test="payType!=null and payType!=''  and payType!=4">
				and qr.referer=#{payType}
			</if>
			<if test="orderCTime !=null and orderCTime !=''">
				and DATE_FORMAT(qr.created,'%Y-%m-%d') <![CDATA[  >=  ]]>#{orderCTime}
			</if>
			<if test="orderETime !=null and orderETime !=''">
				and DATE_FORMAT(qr.created,'%Y-%m-%d') <![CDATA[  <=  ]]>#{orderETime}
			</if>
			<if test=" payType==4">
				and qr.referer in(2,3);
			</if>
			<if test="userMessage!=null and userMessage!=''">
			us.true_name like '%userMessage%' or us.phone like '%userMessage%'
			</if>
		</where>
		order by qr.created desc
		<if test="currentNum!=null and numberPerpage!=null">
			limit ${currentNum} , ${numberPerpage}
		</if>
	</select>
</mapper>