<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.UserWithdrawalsDao">


	<insert id="submit">
		insert into
		user_with(a_type,b_type,c_type,give_type,created,wit_setup_id) values(
		#(aType),#(bType),#(cType),#(giveType),now(),#(witSetupId)
		)
	</insert>

	<update id="updateUserQb">
		update user
		<set>
			<if test="aType!=null and aType!=''">
				a_qb=a_qb-${aType},
			</if>
			<if test="bType!=null and bType!=''">
				b_qb=b_qb-${bType},
			</if>
			<if test="cType!=null and cType!=''">
				cType=cType-${cType},
			</if>
			<if test="giveType!=null and giveType!=''">
				qb_balance=qb_balance-${giveType},
			</if>
		</set>
		where user_id=#{userId}
	</update>


	<select id="queryCount" resultType="int">
		select count(1) from
		user_with uw join user us on uw.user_id=us.user_id
	</select>
	<!-- 12 hm.put("nameOrPhone", nameOrPhone); hm.put("sign", sign); hm.put("currentPage", 
		currentPage); hm.put("numberPerpage", numberPerpage); hm.put("orderCTime", 
		orderCTime); hm.put("orderETime", orderETime); -->
		
		
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.User" id="cctvt">
		<id property="userId" column="user_id" />
		<result property="trueName" column="true_name" />
		<result property="phone" column="phone" />
		<association property="userWitSetUp"
			javaType="com.yayiabc.http.mvc.pojo.jpa.UserWitSetUp">
			<!-- <result property="aType" column="a_type" /> <result property="bType" 
				column="b_type" /> <result property="cType" column="c_type" /> <result property="giveType" 
				column="give_type" /> -->
			<id property="witSetupId" column="wit_setup_id" />
			<result property="witType" column="wit_type" />
			<result property="accountHolder" column="account_holder" />
			<result property="cardNumber" column="card_number" />
			<result property="oBank" column="o_bank" />
			<association property="userWith" javaType="com.yayiabc.http.mvc.pojo.jpa.UserWith">
				<result property="aType" column="a_type" />
				<result property="bType" column="b_type" />
				<result property="cType" column="c_type" />
				<result property="giveType" column="give_type" />
				<result property="created" column="created" />
				<result property="determineTime" column="determine_time"/>
				<result property="sign" column="sign"/>
			</association>
		</association>
	</resultMap>
	<select id="show" resultMap="cctvt">
		SELECT us.user_id,us.true_name,us.phone,cwt.wit_setup_id,cwt.wit_type,cwt.account_holder,cwt.card_number
		,cwt.o_bank,uw.a_type,uw.b_type,uw.c_type,uw.give_type,uw.created,uw.determine_time,uw.sign
		 FROM USER us JOIN cash_withdrawal_type cwt ON
		us.user_id=cwt.user_id JOIN user_with uw
		ON cwt.wit_setup_id
		=uw.wit_setup_id
		<where>
			<if test="nameOrPhone!=null and nameOrPhone!=''">
				#{nameOrPhone} in (us.true_name,us.phone)
			</if>
			<if test="sign!=null and sign!=''">
				uw.sign=#{sign}
			</if>
			<if test="orderCTime !=null and orderCTime !=''">
				and DATE_FORMAT(uw.created,'%Y-%m-%d') <![CDATA[  >=  ]]>#{orderCTime}
			</if>
			<if test="orderETime !=null and orderETime !=''">
				and DATE_FORMAT(uw.created,'%Y-%m-%d') <![CDATA[  <=  ]]>#{orderETime}
			</if>
		</where>
		order by uw.created desc limit #{currentNum} ,#{numberPerpage}
	</select>
	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.UserWith" id="vvx">
		<id property="withId" column="with_id" />
		<result property="aType" column="atype" />
		<result property="bType" column="btype" />
		<result property="cType" column="ctype" />
		<result property="giveType" column="give_type" />
	</resultMap>
	<select id="queryFourQb" resultMap="vvx">
		select
		a_type,b_type,c_type,give_type from user_with where with_id=#{withId}
	</select>

	<update id="determine">
		update user_with set sign=2,determine_time=now()
		where with_id=#{withId}
	</update>


	<!-- 检查用户是否设置过提现类型 -->
	<select id="queryIsSetUp" resultType="int" parameterType="java.lang.String">
		select
		count(1) from cash_withdrawal_type where user_id=#{userId}
	</select>

	<update id="updateWitType">
		update cash_withdrawal_type set
		account_holder=#{accountHolder},card_number=#{cardNumber},create_time=now(),
		wit_type=#{witType},o_bank=#{oBank}
		where user_id=#{userId}
	</update>
	<insert id="insertWitType">
		insert into cash_withdrawal_type
		values(#{userId},#{witType},#{accountHolder},#{cardNumber},#{oBank},NOW())
	</insert>

	<!-- 显示提设置信息 -->
	<select id="witSetUpShow" resultType="com.yayiabc.http.mvc.pojo.jpa.UserWitSetUp">
		SELECT * FROM
		cash_withdrawal_type WHERE user_id=(SELECT MAX(user_id) FROM
		cash_withdrawal_type WHERE user_id=#{userId})
	</select>
	<select id="queryWitSign" resultType="int">
	   select sign from user_with where wit_setup_id=(select max(wit_setup_id)  from  cash_withdrawal_type  where user_id=#{userId})
	</select>
	
   <select id="showUserQbNum" resultType="com.yayiabc.http.mvc.pojo.jpa.User">
    select a_qb,b_qb,c_qb,qb_balance from 'user' where user_id=#{userId}
   </select>
</mapper>       