<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.UserManageListDao">
	<select id="userlist" parameterType="java.util.Map" resultType="java.util.Map">
				SELECT 
				u.user_id AS userId,
				u.true_name AS trueName,
				u.phone AS phone,
				c.company_name AS companyName,
				c.type AS type,
				IF(u.sale_id IS NOT NULL,1,2) AS isBindSale,		
				s.true_name AS saleName,
				o.created AS latelyOrderDate,
				IF(SUM(o.actual_pay) IS NOT NULL,SUM(o.actual_pay),0) AS orderaMoneyCount,
				IF(COUNT(o.user_id) IS NOT NULL,COUNT(o.user_id),0) AS orderaCount,
				u.created AS userCreated
				FROM USER u 
				LEFT JOIN sale_info s ON u.sale_id=s.sale_id
				LEFT JOIN certification c ON u.user_id=c.user_id
				LEFT JOIN ordera o ON u.user_id=o.user_id
		<where>
			<if test="phone != null and phone !=''">
				u.phone LIKE '%${phone}%'
			</if>
			<if test="trueName !=null and trueName !=''">
				AND u.true_name LIKE '%${trueName}%'
			</if>
			<if test="companyName !=null and companyName !=''">
				AND c.company_name LIKE '%${companyName}%'
			</if>
			<if test="isBindSale == 1 and isBindSale !=null and isBindSale !=''">
				AND u.sale_id IS NOT NULL
			</if>
			<if test="isBindSale == 2 and isBindSale !=null and isBindSale !=''">
				AND u.sale_id IS NULL
			</if>
			<if test="type !=null and type!=''">
				AND c.type=#{type}
			</if>
			<if test="saleName !=null and saleName !=''">
				AND s.true_name LIKE '%${saleName}%'
			</if>
		</where>
			GROUP BY u.user_id
	   		ORDER BY u.created DESC	
            LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT COUNT(0) FROM (
			SELECT COUNT(0)
			FROM USER u 
			LEFT JOIN sale_info s ON u.sale_id=s.sale_id
			LEFT JOIN certification c ON u.user_id=c.user_id
			LEFT JOIN ordera o ON u.user_id=o.user_id
			<where>
				<if test="phone != null and phone !=''">
					u.phone LIKE '%${phone}%'
				</if>
				<if test="trueName !=null and trueName !=''">
					AND u.true_name LIKE '%${trueName}%'
				</if>
				<if test="companyName !=null and companyName !=''">
					AND c.company_name LIKE '%${companyName}%'
				</if>
				<if test="isBindSale == 1">
					AND u.sale_id IS NOT NULL
				</if>
				<if test="isBindSale == 2">
					AND u.sale_id IS NULL
				</if>
				<if test="type !=null and type!=''">
					AND c.type=#{type}
				</if>
				<if test="saleName !=null and saleName !=''">
					AND s.true_name LIKE '%${saleName}%'
				</if>
			</where>
			GROUP BY u.user_id
			) AS a
	</select>
	
	<resultMap type="SaleInfo" id="saleInfoRM">
		<id column="sale_id" property="saleId"/>
		<result column="salePhone" property="phone"/>
		<result column="saleName" property="trueName"/>
	</resultMap>
	
	<select id="salelist" resultMap="saleInfoRM">
		SELECT phone,true_name FROM sale_info
		<where>
			<if test="salePhone !=null and salePhone !=''">
				phone LIKE '%${salePhone}%'
			</if>
			<if test="saleName !=null and saleName !=''">
				AND true_name LIKE '%${saleName}%'
			</if>
		</where>
		LIMIT ${page.currentNumber},${page.numberPerPage}
	</select>
	
	<select id="getSalelistCount" resultType="int">
		SELECT count(0) FROM sale_info
		<where>
			<if test="salePhone !=null and salePhone !=''">
				phone LIKE '%${salePhone}%'
			</if>
			<if test="saleName !=null and saleName !=''">
				AND true_name LIKE '%${saleName}%'
			</if>
		</where>
	</select>
	
	<update id="bind">
		UPDATE USER u 
		LEFT JOIN sale_info s
		ON u.sale_id=s.sale_id
		SET u.bind_sale_time=NOW(),u.sale_id=(SELECT sale_id FROM sale_info WHERE phone=#{salePhone})
		WHERE u.phone = #{userPhone};
	</update>
	
	<update id="disBind">
		UPDATE USER u 
		LEFT JOIN sale_info s
		ON u.sale_id=s.sale_id
		SET u.sale_id= NULL,u.bind_sale_time=NULL
		WHERE u.phone = #{userPhone} AND s.phone=#{salePhone};
	</update>
	
	<update id="bindUpdateNum">
		UPDATE sale_info s
		LEFT JOIN USER u
		ON u.sale_id=s.sale_id
		SET s.bind_user_num=(SELECT COUNT(user_id) FROM USER WHERE sale_id=#{saleId})
		WHERE s.sale_id=#{saleId};
	</update>
	
	<select id="detail" resultType="UserAllInfo">
		SELECT 
		u.user_id,
		u.true_name,
		u.phone,
		u.sex,
		u.birthday,
		u.qq,
		u.user_pic,
		u.created AS userCreated,
		c.created AS certifyTime,
		c.type,
		c.company_name,
		c.part,
		c.work_address,
		c.doctor_pic,
		o.created AS latelyOrderDate,
		IF(COUNT(o.user_id) IS NOT NULL,COUNT(o.user_id),0) AS orderaCount,
		IF(SUM(o.actual_pay) IS NOT NULL,SUM(o.actual_pay),0) AS orderaMoneyCount
		FROM USER u
		LEFT JOIN certification c ON u.user_id=c.user_id
		LEFT JOIN ordera o ON u.user_id=o.user_id
		WHERE u.user_id=#{userId};
	</select>
</mapper>