<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.UtilsDao">
	
	<select id="getUserID" parameterType="java.lang.String" resultType="java.lang.String">
		select user_id from user_token where token=#{token} 
	</select>
	<select id="getSaleId" parameterType="java.lang.String" resultType="java.lang.String">
		select sale_id from sale_token where sale_id=#{SaleToken} 
	</select>
	<select id="getToken" parameterType="java.lang.String" resultType="java.lang.String">
		select token from user_token where user_id=#{userId} 
	</select>
	<select id="getSaleToken" parameterType="java.lang.String" resultType="java.lang.String">
		select sale_token from sale_token where sale_id=#{saleId} 
	</select>
	<select id="queryPhone" parameterType="java.lang.String" resultType="java.lang.String">
		select phone from  user where user_id=#{userId} 
	</select>   
	<select id="querySaleIdByOrderId" resultType="java.lang.String">
	SELECT sale_id  FROM USER WHERE user_id=(SELECT user_id FROM ordera WHERE order_id=#{orderId})
	</select>
	
	<select id="querySalePhoneBySaleId" resultType="java.lang.String">
	 select phone from sale_info where sale_id=#{saleId}  
	</select>
	<select id="queryCalssSumPrice" resultType="com.yayiabc.http.mvc.pojo.jpa.Ordera">
	select supplies_sumprice,tooldevices_sumprice from ordera where
	order_id =#{orderId}
	</select>
	
	
	<insert id="insert" parameterType="java.lang.String">
	insert into sale_income(sale_id,order_id,get_money,get_state,state,created)  values
	(
	#{saleId},#{orderId},#{d},#{x},#{i} ,now()
	)
	</insert>
</mapper>       