<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yayiabc.http.mvc.dao.VideoManageDao">

	<select id="videoItem" resultType="ItemInfo">
		SELECT a.item_name,a.sales,a.item_price,b.item_brand_name,c.item_pica
FROM item_info a,item_brand b,item_detail c
WHERE a.item_brand_id=b.item_brand_id AND a.item_id=c.item_id AND c.video=#{viId}
	</select>


	<insert id="insertVid" parameterType="VidManage" useGeneratedKeys="true" keyProperty="viId">
			insert into vid_manage(video_name,video_route,video_category,vedio_pic)
			values(#{vidName},#{vidRoute},#{videoCategory},#{vedioPic})
	</insert>

	<update id="updateVid">
		update vid_manage
		<set>
			<if test="vidName!=null">
				video_name=#{vidName},
			</if>
			<if test="videoType!=null">
				video_type=#{videoType},
			</if>
			<if test="vidRoute!=null">
				video_route=#{vidRoute},
			</if>
			<if test="videoCategory!=null">
				video_category=#{videoCategory}
			</if>
		</set>
		where vi_id=#{viId}
	</update>
	<delete id="deleteVid">
		delete from vid_manage where vi_id= #{viId}
	</delete>




	<resultMap id="videoRM" type="VidManage" autoMapping="true">
		<id property="viId" column="vi_id"/>
		<result property="vidName" column="video_name"/>
		<result property="videoType" column="video_type"/>
		<result property="vidRoute" column="video_route"/>
		<result property="videoCategory" column="video_category"/>
		<result property="vedioTime" column="vedio_time"/>
		<result property="vedioPic" column="vedio_pic"/>
		<association property="itemInfo" javaType="ItemInfo">
			<id property="itemId" column="item_id"/>
			<result property="itemName" column="item_name"/>
			<result property="itemPrice" column="item_price"/>
			<association property="itemBrand" javaType="ItemBrand">
				<result property="itemBrandName" column="item_brand_name"/>
			</association>
			<association property="itemDetail" javaType="ItemDetail">
				<result property="itemPica" column="item_pica"/>
			</association>
		</association>
	</resultMap>

	<select id="showVid" resultMap="videoRM">
		select vi_id,video_name,video_type,video_route,video_category,DATE_FORMAT(vedio_time,'%Y-%m-%d %H:%i:%s') As
		vedio_time,vedio_pic,play_num,comment_num AS vedio_comment_number from vid_manage
		<where>
			<if test="videoCategory!=null and videoCategory!=''">
				video_category=#{videoCategory}
			</if>
			<if test="keyWord!=null">
				and video_name like '%${keyWord}%'
			</if>
		</where>
		order by 
		<choose>
			<when test="rule==1">play_num DESC </when>
			<when test="rule==2">comment_num DESC </when>
			<otherwise>vedio_time DESC </otherwise>
		</choose>
		limit #{page.currentNumber},#{page.numberPerPage}
	</select>

	<select id="detail" resultMap="videoRM">
			SELECT a.vi_id,a.video_name,a.video_type,a.video_route,a.video_category,DATE_FORMAT(a.vedio_time,'%Y-%m-%d %H:%i:%s') AS vedio_time,a.vedio_pic,
			b.item_id,c.item_name,c.item_price,d.item_brand_name
		FROM (SELECT * FROM vid_manage WHERE vi_id=#{viId}) a
		LEFT JOIN item_detail b ON a.video_route=b.video
		LEFT JOIN item_info c ON b.item_id=c.item_id
		LEFT JOIN item_brand d ON c.item_brand_id=d.item_brand_id
	</select>


	<select id="queryMyCollect" resultType="VidManage">
		select * from vid_manage where vi_id IN 
		<foreach collection="idList" index="index" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
		limit #{currentNumber},#{numberPerPage}
	</select>

	<select id="getVideoRoute" resultType="string">
		select video_route from vid_manage where vi_id=#{viId}
	</select>

	<select id="getVideoItem" resultMap="itemInfo">
		select a.item_id,a.item_name from item_info a,item_detail b where a.item_id=b.item_id and b.video=#{videoRout} limit 1
	</select>

	<resultMap id="itemInfo" type="ItemInfo">
		<id column="item_id" property="itemId"/>
		<result column="item_name" property="itemName"/>
	</resultMap>

	<update id="playVideo">
		update vid_manage set play_num=play_num+1 where vi_id=#{viId}
	</update>

	<select id="getVideoTotalNum" resultType="int">
		select count(*) FROM vid_manage
		<where>
			<if test="videoCategory!=null and videoCategory!=''">
				video_category=#{videoCategory}
			</if>
			<if test="keyWord!=null">
				and video_name like '%${keyWord}%'
			</if>
		</where>
	</select>

	<update id="addVideoZanNum">
		update vid_manage set zan_num=zan_num+1 where vi_id=#{typeId}
	</update>

	<update id="delVideoZanNum">
		update vid_manage set zan_num=zan_num-1 where vi_id=#{typeId}
	</update>








</mapper>