<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yayiabc.http.mvc.dao.VideoManageDao">

	<select id="videoItem" resultType="ItemInfo">
		SELECT a.item_name,a.sales,a.item_price,b.item_brand_name,c.item_pica
FROM item_info a,item_brand b,item_detail c
WHERE a.item_brand_id=b.item_brand_id AND a.item_id=c.item_id AND c.video=#{viId}
	</select>


	<insert id="insertVid" parameterType="VidManage" useGeneratedKeys="true" keyProperty="viId">
			insert into vid_manage(video_name,video_route,video_category,vedio_pic)
			values(#{vidName},#{vidRoute},#{videoCategory},#{vedioPic})
	</insert>

	<update id="updateVid">
		update vid_manage
		<set>
			<if test="vidName!=null">
				video_name=#{vidName},
			</if>
			<if test="videoType!=null">
				video_type=#{videoType},
			</if>
			<if test="vidRoute!=null">
				video_route=#{vidRoute},
			</if>
			<if test="videoCategory!=null">
				video_category=#{videoCategory}
			</if>
		</set>
		where vi_id=#{viId}
	</update>
	<delete id="deleteVid">
		delete from vid_manage where vi_id= #{viId}
	</delete>




	<resultMap id="videoRM" type="VidManage" autoMapping="true">
		<id property="viId" column="vi_id"/>
		<result property="vidName" column="video_name"/>
		<result property="videoType" column="video_type"/>
		<result property="vidRoute" column="video_route"/>
		<result property="videoCategory" column="video_category"/>
		<result property="vedioTime" column="vedio_time"/>
		<result property="vedioPic" column="vedio_pic"/>
	</resultMap>

	<select id="showVid" resultMap="videoRM">
		select vi_id,video_name,video_type,video_route,video_category,DATE_FORMAT(vedio_time,'%Y-%m-%d %H:%i:%s') As vedio_time,vedio_pic from vid_manage
		<where>
			<if test="videoCategory!=null and videoCategory!=''">
				video_category=#{videoCategory}
			</if>
			<if test="keyWord!=null">
				and video_name like '%${keyWord}%'
			</if>
		</where>
		order by vedio_time DESC
	</select>

	<select id="detail" resultMap="videoRM">
		select vi_id,video_name,video_type,video_route,video_category,DATE_FORMAT(vedio_time,'%Y-%m-%d %H:%i:%s') As vedio_time,vedio_pic from vid_manage where vi_id=#{viId}
	</select>

	<select id="queryMyCollect" resultType="VidManage">
		select * from vid_manage where vi_id IN 
		<foreach collection="idList" index="index" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
		limit #{currentNumber},#{numberPerPage}
	</select>




</mapper>