<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yayiabc.http.mvc.dao.VideoManageDao">




	<insert id="insertVid" parameterType="VidManage" useGeneratedKeys="true" keyProperty="viId">
			insert into vid_manage(video_name,video_route,video_category)
			values(#{vidName},#{vidRoute},#{videoCategory})
	</insert>

	<update id="updateVid" parameterType="com.yayiabc.http.mvc.pojo.jpa.VidManage">
		update vid_manage
		<set>
			<if test="vidName!=null">
				video_name=#{vidName},
			</if>
			<if test="videoType!=null">
				video_type=#{videoType},
			</if>
			<if test="vidRoute!=null">
				video_route=#{vidRoute},
			</if>
			<if test="videoCategory!=null">
				video_category=#{videoCategory}
			</if>
		</set>
		where vi_id=#{viId}
	</update>
	<delete id="deleteVid">
		delete from vid_manage where vi_id= #{viId}
	</delete>

	<delete id="deleteVedioComment">
		delete from vedio_comment where vi_id=#{viId}
	</delete>

	<select id="getTotalNumber" resultType="int">
		select count(*) from vid_manage
		<where>
			<if test="videoCategory!=null and videoCategory!=6">
				video_category=#{videoCategory}
			</if>
		</where>
	</select>

	<resultMap id="videoRM" type="VidManage" autoMapping="true">
		<id property="viId" column="vi_id"/>
		<collection property="vedioCommentList" select="showVidComment" column="vi_id" ofType="VedioComment"/>
	</resultMap>

	<select id="showVid" resultMap="videoRM">
		select * from vid_manage
		<where>
			<if test="videoCategory!=null and videoCategory!=6">
				video_category=#{videoCategory}
			</if>
		</where>
		order by 
		<choose>
			<when test="rule==1">vedio_play_number desc</when>
			<when test="rule==2">vedio_comment_number desc</when>
			<otherwise>vedio_time DESC </otherwise>
		</choose>
	</select>

	<select id="showVidComment" resultType="VedioComment">
		select * FROM  vedio_comment where vi_id=#{vi_id}
	</select>
</mapper>