<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yayiabc.http.mvc.dao.WitManageDao">
	<select id="showWit" resultType="With">
     select real_name,phone,cashMoney,type,anumber from cashmanage where phone=#{phone}
	</select>
	<!-- //根据userId 查phone -->
	<select id="getPhone" resultType="java.lang.String">
	select phone from user where user_id=#{userId}
	</select>
	
	<insert id="submitWit" parameterType="With">
	  insert into cashmanage(real_name,type,anumber,cashMoney,phone,cash_state,account_user,bank,app_time,sale_id) 
	  values
	  (#{trueName},#{type},#{anumber},#{cashMoney},#{phone},0,#{accountUser}
	  ,#{bank},now(),#{saleId}
	  )
	<!--   默认是 审核中   state 为0  -->
	  
	</insert>
	<update id="oper">
	  update cashmanage set cash_state=1,cash_su_time=now() where cash_id=#{cashId}
	</update>
     
    
	<!-- //查询+显示 -->
	   <resultMap type="com.yayiabc.http.mvc.pojo.jpa.With" id="c">
	  <id property="cashId" column="cash_id"/>
	  <result property="trueName"  column="real_name"/>
	  <result property="phone"  column="phone"/>
	  <result property="cashMoney"  column="cash_money"/>
	  <result property="type"  column="type"/>
	  <result property="accountUser"  column="account_user"/>
	  <result property="bank"  column="bank"/>
	  <result property="appTime"  column="app_time"/>
	  <result property="cashState"  column="cash_state"/>
	  <result property="cashSuTime"  column="cash_su_time"/>
	  <result property="saleId"  column="sale_id"/>
	</resultMap>
	<select id="query" resultMap="c">
	   select  * from cashmanage
	   <where>
	  
	    <if test="message!=null and message!=''">
	       phone=#{message}  or real_name=#{message}  
	    </if>
	     
	    <if test="state!=null and state!=''">
	       and  cash_state=#{state}
	   </if>
	   
	   </where>
	      order by app_time asc 
	</select>
	
	<select id="queryMessage" resultMap="c">
	  select * from cashmanage where cash_id=#{cashId}
	</select>
	<select id="queryMoney" resultType="int">
	 select money from sale_info where sale_id=#{saleId}
	</select>
	<!-- //deleteMoney -->
	
	<!-- <update id="saveMoney" parameterType="com.yayiabc.http.mvc.pojo.jpa.With">
	 update set  get_money=(getmoney+cashMoney) where sale_id=#{saleId}
	</update> -->
</mapper>