<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yayiabc.http.mvc.dao.WxAppDao">
	<select id="getAppCode" resultType="HashMap">
		SELECT appid,secret FROM wx_webapp WHERE id = 1
	</select>

	<select id="getUser" resultType="HashMap">
		SELECT uid FROM wx_userlink WHERE openid = {_parameter}
	</select>

	<insert id="addUser">
		INSERT INTO wx_userlink (uid,openid,type,phone) VALUES (#{saleId},#{openid},1,#{phone})
	</insert>


	
	<insert id="addSaleUser">
		INSERT INTO wx_userlink (uid,openid,type,phone) VALUES (#{saleId},#{openid},2,#{phone})
	</insert>

	<resultMap type="com.yayiabc.http.mvc.pojo.jpa.WXUserLink" id="cheWX">
	<result property="uid" column="uid"/>
	<result property="openid" column="openid"/>
	<result property="type" column="type"/>
	</resultMap>
     <select id="queryIsBD" resultMap="cheWX">
     select * from wx_userlink where  openid=#{openId} 
     </select>
     
     <select id="queryObject" resultType="int">
      select count(0) from `user` where user_id=#{uid}
     </select>
     <select id="queryObjects" resultType="int">
      select count(0) from sale_info where user_id=#{uid}
     </select>
     
     
     <select id="queryIsSale" resultType="java.lang.String">
      select sale_id from `user` where user_id=#{uid}
     </select>
     
     
     <resultMap type="com.yayiabc.http.mvc.pojo.jpa.SaleInfo" id="yyy">
        <id property="saleId" column="sale_id"/>
         <result property="trueName" column="true_name"/>
         <result property="phone" column="phone"/>
     </resultMap>
     <select id="querySale" resultMap="yyy">
      select  sale_id,true_name,phone  from sale_info  where sale_id=#{uid}
     </select>
    
    <select id="getPhoneCount" resultType="java.lang.Integer">
        select count(0) from wx_userlink where phone=#{phone}
    </select>
</mapper>