<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.WXPayDao">
 	<insert id="addCharge">
 		insert into charge values(#{chargeId},#{token},#{money},#{state})
 	</insert>
	
	<select id="getMoneyByChargeId" resultType="java.lang.Integer">
		select money from charge where charge_id=#{chargeId}
	</select>
	
	<update id="addMoney">
		update user set qb_balance=qb_balance+#{addMoney} where user_id=#{userId}
	</update>
	
	<update id="updateChargeState">
		update charge set state=2 where charge_id=#{chargeId}
	</update>
	
	<select id="getStateByChargeId" resultType="java.lang.Integer">
		select state from charge where charge_id=#{chargeId}
	</select>
	
	<select id="getTokenByChargeId" resultType="string">
		select token from charge where charge_id=#{chargeId}
	</select>
</mapper>       