<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yayiabc.http.mvc.dao.WXPayDao">
 	<insert id="addCharge">
 		insert into charge values(#{chargeId},#{token},#{money},#{state})
 	</insert>
	
	<select id="getMoneyByChargeId" resultType="java.lang.Integer">
		select money from charge where charge_id=#{chargeId}
	</select>
	
	<update id="addMoney">
		update `user` set qb_balance=qb_balance+#{addMoney} where user_id=#{userId}
	</update>
	
	<update id="updateChargeState">
		update charge set state=2 where charge_id=#{chargeId}
	</update>
	
	
	
	<select id="getTokenByChargeId" resultType="string">
		select token from charge where charge_id=#{chargeId}
	</select>
	
	<delete id="deleteOrderRecord">
		delete from order_record where order_id=#{orderId}
	</delete>
	
	<insert id="addOrderRecord">
		insert into order_record values(null,#{orderId},#{outTradeNo})
	</insert>
	
	<select id="getOrderIdByOutTradeNo" resultType="string">
		select order_id from order_record where out_trade_no=#{outTradeNo}
	</select>
	
	<delete id="deleteChargeByToken">
		delete from charge where token=#{token}
	</delete>
	
	<select id="getStateByToken" resultType="java.lang.Integer">
		select state from charge where token=#{token}
	</select>
	
	<select id="getChargeStateByChargeId" resultType="java.lang.Integer">
		select state from charge where charge_id=#{chargeId}
	</select>
</mapper>       