<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<bean id="prop" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
	   <property name="locations" value="classpath:log4j.properties"/>   
	</bean> 
	<bean id="userTokenValidateAspect" class="com.yayiabc.http.aop.UserTokenValidateAspect"/>
	<bean id="saleTokenValidateAspect" class="com.yayiabc.http.aop.SaleTokenValidateAspect"/>
	<bean id="adminTokenValidateAspect" class="com.yayiabc.http.aop.AdminTokenValidateAspect"/>
	<bean id="exceptionResolver" class="com.yayiabc.common.exceptionHandler.ExceptionHandler"/>
	<bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" />
	<context:component-scan base-package="com.yayiabc.http.mvc.service"></context:component-scan>
	<context:component-scan base-package="com.yayiabc.http.mvc.dao"></context:component-scan>
	
<bean id="SpringQtzJobOne" class="com.yayiabc.common.utils.CornUtil"/> 
<bean id="SpringQtzJobTwo" class="com.yayiabc.common.utils.RankUtil"/> 
<bean id="SpringQtzJobThree" class="com.yayiabc.http.mvc.controller.user.MyTask"/>  
 
    
 <bean id="jobDetailOne" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
     <property name="targetObject" ref="SpringQtzJobOne"></property>  
     <property name="targetMethod" value="execute"></property>  
     <property name="concurrent" value="true"></property>  
 </bean>
 <bean id="jobDetailTwo" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
     <property name="targetObject" ref="SpringQtzJobTwo"></property>  
     <property name="targetMethod" value="rank"></property>  
     <property name="concurrent" value="true"></property>  
 </bean>
  <bean id="jobDetailThree" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
     <property name="targetObject" ref="SpringQtzJobThree"></property>  
     <property name="targetMethod" value="kk"></property>  
     <property name="concurrent" value="true"></property>  
 </bean>
      
    
<bean id="billsCheckJobTriggerOne" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
     <property name="jobDetail" ref="jobDetailOne"></property>  
     <property name="cronExpression" value="1 0 0 18 * ?"></property>  
     <property name="startDelay" value="3000"></property>  
 </bean>
 <bean id="billsCheckJobTriggerTwo" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
     <property name="jobDetail" ref="jobDetailTwo"></property>  
     <property name="cronExpression" value="3 0 0 1 * ?"></property>  
     <property name="startDelay" value="3000"></property>  
 </bean>
  <bean id="billsCheckJobTriggerThree" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
     <property name="jobDetail" ref="jobDetailThree"></property>  
     <property name="cronExpression" value="0 0/20 * * * ?"></property>  
     <property name="startDelay" value="30000"></property>  
 </bean>

  

<bean id="schedulerFactoryBean"  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
     <property name="triggers">  
         <list>  
            <ref bean="billsCheckJobTriggerOne"/> 
            <ref bean="billsCheckJobTriggerTwo"/> 
             <ref bean="billsCheckJobTriggerThree"/> 
            <!-- <ref bean="simpleTrigger"/>  --> 
         </list>  
     </property>   
 </bean> 

	
	
</beans>
